{% extends "rogging/starter.html" %}
{% block content %}
<style>
	#errornotice {
		text-align:center;
	}
</style>
<div class="alert alert-danger" role="alert" id="errornotice">The server had an error. Sorry about that :{(. Administration will be notified.</div>
{% endblock %}
