{% extends "rogging/starter.html" %}

{% block content %}
<link href="{{ STATIC_URL }}changepassword.css" rel="stylesheet">
{% block error %}{% endblock %}
<form action="{% url 'rogging:changePassword' %}" method="post" class="form-signin">
	<h2 class="form-signin-heading">Change Password</h2>
	{% csrf_token %}
	<input id="id_currentPassword" name="currentPassword" type="password" class="form-control" placeholder="Current password" required autofocus/>
	<input id="id_newPassword" name="newPassword" type="password" class="form-control" placeholder="New password" required/>
	<input id="id_confirmNewPassword" name="confirmNewPassword" type="password" class="form-control" placeholder="Re-enter new password" required/>
	<button class="btn btn-lg btn-primary btn-block" type="submit" id="changepasswordbutton">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
</form>
{% endblock %}
