

<style>
	#deleteStuff {
		border-radius:5px;
		height:20px;
		width:20px;
		padding:0px;
	}
	.list-group-item {
		border:0px;
	}
	.list-group {
		border-radius:0px;
	}
	.commentDiv {
		background-color:#eee;
		padding:10px;
		border-bottom:1px solid #ccc;
	}
	.commentContent {
		background-color:#d9d9d9;
		margin-top:5px;
		margin-bottom:5px;
		padding:15px;
		box-shadow:0px 0px 1px #888;
	}
	.userDiv {
		border-radius:28px;
		padding:3px 8px 3px 3px;
		background-color:#99ccff;
		color:#2a2aad;
		display:inline-block
	}
	.userLink {
		height:40px;
	}
	.userLink:hover {
		text-decoration:none;
	}
	.profthumb {
		width:30px;
		height:30px;
		border-radius:15px;
	}
	.dropdown {
		display:inline-block;
		float:right;
	}
	.commentInfo {
		display:inline-block;
	}
</style>

<!--<ul class="list-group">-->
{% for comment in comments %}
	<!--<li class="list-group-item">-->
		<div class="commentDiv">
			<span hidden>{{ comment.id }}</span>
			<div id="commentContentDiv">
				<div class="commentInfo">
					<a class="userLink" href="{% url 'rogging:show' username=comment.commenterLog.user %}"><div class="userDiv"><img src="{{ comment.commenterLog.getThumbnail }}" class="profthumb"/> {{ comment.commenterLog.user }}</div></a> {{ comment.dateTimeMade }}
				</div>
				{% if user.is_authenticated and user.username == comment.commenterLog.user.username %}
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="deleteStuff" data-toggle="dropdown" aria-expanded="true" aria-label="Left Align">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="deleteStuff">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" onclick="deleteComment(this)">Delete</a>
						</li>
					</ul>
				</div>
				{% endif %}
				<br><div class="commentContent">{{ comment.comment }}</div>
			</div>
		</div>
	<!--</li>-->
{% endfor %}
<!--</ul>-->

<script>

</script>