{% extends "rogging/starter.html" %}

{% block content %}
<head>
<script src='https://www.google.com/recaptcha/api.js'></script>
<style>
	
</style>
</head>
<link href="{{ STATIC_URL }}createaccount.css" rel="stylesheet">
{% block error %}{% endblock %}
<form action="{% url 'rogging:createAccount' %}" method="post" class="form-signin">
	{% csrf_token %}
	<h2 class="form-signin-heading">Create Account</h2>
	<input id="id_username" maxlength="200" name="username" type="text" placeholder="Username" class="form-control" required autofocus/> {{ form.username.errors }}
	<input id="id_email" name="email" type="email" placeholder="Email Address" class="form-control" required/>
	<input id="id_password" name="password" type="password" placeholder="Password" class="form-control" required/>
	<input id="id_confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" class="form-control" required/>
	<div class="g-recaptcha" data-sitekey="{{ recaptchaSiteKey }}"></div>
	<button class="btn btn-lg btn-primary btn-block" type="submit" id="createaccountbutton">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
</form>
{% endblock %}
