{% extends "rogging/starter.html" %}
{% block content %}
<style>
	@keyframes updatesAnimation {
		0%	{ width:0%; opacity:0; }
		100%	{ opacity:1; }
	}
	h1, h3, h5, .logentry { text-align:center; }
	.logEntryLabel { font-weight:normal; text-align:center }
	h5 {
		padding:10px;
	}
	{% if user.is_authenticated %}
	#homepageContent {
		display:inline-block;
		margin-left:10px;
		box-shadow:0px 0px 1px #888;
		position:relative;
		top:0px;
	}
	#leftColumn {
		width:200px;
		float:left;
		display:inline-block;
		position:relative;
		left:0px;
	}
	#followedDiv, #followRequestDiv {
		background-color:#202020;
		width:100%;
		padding:10px;
		box-shadow:0px 0px 1px #888;
		margin-top:10px;
	}
	.followedUserDiv > a {
		color:#a0a0a0;
		overflow:hidden;
		text-decoration:none;
	}
	.followedUserDiv > a:hover {
		color:#ffffff;
	}
	#followedHeader, #requestsHeader {
		color:#fff;
		text-align:center;
	}
	#followedHeader {
		font-size:24px;
	}
	#requestsHeader {
		font-size:14px;
	}
	#updatesTitle {
		padding:10px 10px 5px 10px;
		text-align:center;
		background-color:#202020;
		color:#ffffff;
		font-size:22px;
	}
	#userDiv {
		padding-top:1px;
		background-color:#202020;
		box-shadow:0px 0px 1px #888;
	}
	#usernameDiv {
		text-align:center;
		font-size:22px;
		color:#ffffff;
		padding-bottom:10px;
		display:block;
	}
	#picture {
		height:140px;
		width:140px;
		position:relative;
		margin:30px 30px 10px 30px;
		border-radius:70px;
		display:block;
		box-shadow:0px 0px 3px #000;
	}
	#thumbnail, .followThumb {
		height:30px;
		width:30px;
		border-radius:15px;
	}
	.followThumb {
		margin-right:10px;
	}
	#iconDiv {
		font-size:24px;
	}
	.followedUserDiv {
		margin-top:5px;
	}
	.followedUserDiv > button {
		border:0px solid black;
		background-color:#444;
		margin-left:5px;
		color:#fff;
		float:right;
	}
	{% endif %}
</style>
<div id="homepageContent" class="fadeInBottom">
	{% if not user.is_authenticated %}
	{% include "rogging/loginwidget.html" %}

	{% else %}

	<div id="updatesTitle"><span class="glyphicon glyphicon-time"></span></div>
	<div id="updatesDiv">
		{% include "rogging/update.html" %}
	</div>
	{% endif %}
</div>
{% if user.is_authenticated %}
<div id="leftColumn" class="fadeInLeft">
	<div id="userDiv">
		<a href="{% url 'rogging:show' username=user.username %}">
			<img src="{{ user.roggeelog.getProfilePic }}" id="picture"/>
		</a>
		<div id="usernameDiv">
			{% if user.roggeelog.name != None and user.roggeelog.name != "" %}{{ user.roggeelog.name }}<br>{% endif %}
			@{{ user.username }}
		</div>
	</div>
	{% if requests != None and requests.count > 0 %}
	<div id="followRequestDiv">
		<div id="requestsHeader">
			Follower Requests
		</div>
		{% for request in requests %}
		<div class="followedUserDiv">
			<a href="{% url 'rogging:show' username=request.followerLog.user.username %}">
				<img src="{{ request.followerLog.getThumbnail }}" class="followThumb"/>{{ request.followerLog.user.username }}
			</a>
			<span class="userid" hidden>{{ request.followerLog.user.id }}</span>
			<button onclick="approveRequest(this)"><span class="glyphicon glyphicon-ok"></span></button>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	<div id="followedDiv">
		<div id="followedHeader">
			<span id="heartIcon" class="glyphicon glyphicon-heart"></span>
		</div>
		{% for follow in follows %}
		<div class="followedUserDiv">
			<a href="{% url 'rogging:show' username=follow.followedLog.user.username %}"><img src="{{ follow.followedLog.getThumbnail }}" class="followThumb"/>{{ follow.followedLog.user.username }}</a>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
<br><br><br>

<script>
noMore = false;
retrievingUpdate = false;

function getMoreUpdateData() {
	idOfRun = $("#updatesDiv").children("div").last().children("span").first().html();
	if (typeof(idOfRun) == "undefined") {
	} else {
		$.post("{% url 'rogging:homepage' %}", { type: "updateEarlier", idOfRun: idOfRun, csrfmiddlewaretoken: '{{ csrf_token }}' }, function(data) {
			updatesDiv = $("#updatesDiv");
			updatesDiv.html(updatesDiv.html() + data);
			updatesDivOffset = $("#updatesDiv").offset().top;
			updatesDivHeight = $("#updatesDiv").height();
			windowHeight = $(window).height()
			windowScrolledFromTop = $(window).scrollTop();
			if (data == "") {
				noMore = true;
			} else if (updatesDivOffset + updatesDivHeight <= windowScrolledFromTop + windowHeight) {
				getMoreUpdateData();
			} else {
				retrievingUpdate = false;
			};
		});
	};
	
	
};


window.onscroll = function() {
	updatesDivOffset = $("#updatesDiv").offset().top;
	updatesDivHeight = $("#updatesDiv").height();
	windowHeight = $(window).height()
	windowScrolledFromTop = $(window).scrollTop();
	
	if (updatesDivOffset + updatesDivHeight <= windowHeight + windowScrolledFromTop && !noMore) {
		if (!retrievingUpdate) {
			retrievingUpdate = true;
			getMoreUpdateData();
		};
	};
	
};

{% if user.is_authenticated %}
function adjustHomepageContent() {
	var homepageContent = $("#homepageContent");
	var additionalWidth = 0;
	if ($(window).width() >= 768) {
		additionalWidth = 10;
	}
	
	homepageContent.css("width", ($("#thebody").width() - ($("#leftColumn").width() + additionalWidth)) + "px");
}

function changeFollowedVisibility() {
	if ($(window).width() < 768) {
		var leftColumn = $("#leftColumn");
		leftColumn.hide();
		leftColumn.css("width", "0px");
		$("#homepageContent").css("margin-left", "0px");
	} else {
		var leftColumn = $("#leftColumn");
		leftColumn.show();
		leftColumn.css("width", "200px");
		$("#homepageContent").css("margin-left", "10px");
		$("#iconDiv").css("width", ($("#userIcon").width() + $("#heartIcon").width() + 5) + "px");
	}
}
function approveRequest(usersButton) {
	var approvedUser = $(usersButton).siblings(".userid").first().html();
	$.ajax({
			type: "POST",
			url: "{% url 'rogging:homepage' %}",
			data:	{ 
						type: "followerApproval",
						userID: approvedUser,
						csrfmiddlewaretoken: "{{ csrf_token }}"
					},
			//dataType: "json",
			success: 	function(data) {
							console.log("hi");
							$(usersButton).parent().remove();
						},
			error: 		function(data) {
							console.log("didn't work");
						}
			});
}
{% endif %}

$(document).ready(function() {
	updatesDivOffset = $("#updatesDiv").offset().top;
	updatesDivHeight = $("#updatesDiv").height();
	windowHeight = $(window).height()
	windowScrolledFromTop = $(window).scrollTop();
	
	if (updatesDivOffset + updatesDivHeight <= windowHeight + windowScrolledFromTop && !noMore) {
		if (!retrievingUpdate) {
			retreivingUpdate = true;
			getMoreUpdateData();
		};
	};
	
	{% if user.is_authenticated %}
	window.addEventListener("resize", changeFollowedVisibility);
	changeFollowedVisibility();
	
	window.addEventListener("resize", adjustHomepageContent);
	adjustHomepageContent();
	
	var userIcon = $("#userIcon");
	var heartIcon = $("#heartIcon");
	$("#iconDiv").css("width", (userIcon.width() + heartIcon.width() + 5) + "px");
	$("#hompageDiv").fadeIn(200);
	window.addEventListener("beforeunload", animateUnload);
	function animateUnload() {
		var homepageContent = $("#homepageContent");
		homepageContent.removeClass("fadeInBottom");
		homepageContent.addClass("fadeOutBottom");
		var leftColumn = $("#leftColumn");
		leftColumn.removeClass("fadeInLeft");
		leftColumn.addClass("fadeOutLeft");
	}
	{% endif %}
});



</script>

{% endblock %}
