{% extends "rogging/starter.html" %}

{% block content %}
<style>
	.bolded {
		font-weight:bold;
	}
</style>
<span class="bolded">NOTE: IF THE IMPORT FAILS (THE WEBSITE SAYS THAT "THE SERVER HAD AN ERROR" OR SOMETHING LIKE THAT), GO INTO SETTINGS, DELETE YOUR IMPORTED LOG ENTRIES, AND TRY TO IMPORT AGAIN, MAKING SURE THAT THE DATA YOU ARE SUBMITTING IS CORRECT.
<br><br>Make sure there is no space at the beginning and the end of the data before you import it.
<br>This import will take some time, during which the browser will indicate that it is loading. It should eventually finish.</span>
<form action="{% url 'rogging:importer' %}" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Import">
</form>
{% endblock %}