{% extends "rogging/logger.html" %}

{% block error %}
<style>
	#errorNotice { font-family:"Perpetua", sans-serif; font-weight:lighter; }
</style>
<div class="alert alert-danger" role="alert" id="errorNotice">The infomation you entered is invalid; Please change it.</div>
{% endblock %}
