function formatString(theString, units) {
	positionData = logParsingAutomaton(theString, units)[1]
	
	offsetOfAddedHTMLTags = 0
	var i = 0
	while (i < positionData.length) {
		var start = positionData[i][0] + offsetOfAddedHTMLTags
		var end = positionData[i][1] + offsetOfAddedHTMLTags
		
		theString = theString.slice(0, start) + "<strong>" + theString.slice(start, end) + "</strong>" + theString.slice(end);
		offsetOfAddedHTMLTags += 17;
		
		i += 1;
	}
	
	return theString;
}

function replaceNewlinesWithParas(theString) {
	if (theString.length != 0) {
		theString = "<p>" + theString.replace(/\n/g, "<br data-mce-bogus=\"1\"></p><p>") + "<br data-mce-bogus=\"1\"></p>"
	}
	return theString
}

function removeHTMLTags(theString) {
	// IGNORING THE SPANS FROM http://stackoverflow.com/questions/6449131/javascript-regular-expression-to-not-match-a-word
	// REMOVING HTML TAGS FROM http://stackoverflow.com/questions/822452/strip-html-from-text-javascript
	return theString.replace(/<\/p>[\s]*<p>/g, "\n").replace(/<(?!(span id="lastCursor">|\/span>))[^>]*>/g, "");
}

function removeHTML(theString) {
	// IGNORING THE SPANS FROM http://stackoverflow.com/questions/6449131/javascript-regular-expression-to-not-match-a-word
	// REMOVING HTML TAGS FROM http://stackoverflow.com/questions/822452/strip-html-from-text-javascript
	return theString.replace(/<\/p>[\s]*<p>/g, "\n").replace(/<(?!(span id="lastCursor">|\/span>))[^>]*>/g, "").replace(/&nbsp;/g, " ");
}

function submitEntry() {
	$("#id_entry")[0].value = removeHTML(tinymce.get("tinyMCEEntry").getContent({ format: 'raw' }));
	$("#loggerForm")[0].submit();
}

function copyToPreview(stringToCopy) {
	var mceInstance = tinymce.get("tinyMCEEntry");
	var units = {{ units|safe }};
	var unitLengths = {{ unitConversions|safe }};
	var escapedEntry = "";
	if (stringToCopy == "") {
		// CURSOR SAVING FROM http://stackoverflow.com/questions/1253303/whats-the-best-way-to-set-cursor-caret-position
		if (mceInstance.selection.isCollapsed()) {
			tinymce.get("tinyMCEEntry").selection.setContent("<span id=\"lastCursor\"></span>");
		}
		escapedEntry = removeHTMLTags(tinymce.get("tinyMCEEntry").getContent({ format: 'raw' }));
	} else {
		escapedEntry = stringToCopy;
	}
	var automatonRunthrough = logParsingAutomaton(escapedEntry, units);
	var distanceOutput = addRuns(automatonRunthrough[0], units, unitLengths);
	var modifiedStringAfterDistanceCalculation = formatString(escapedEntry, units);
	var userAutomatonOutput = userAutomaton(modifiedStringAfterDistanceCalculation);
	if (automatonRunthrough[1].length > 0) {
		$("#id_distance")[0].value = distanceOutput;
	}
	var mceInstance = tinymce.get("tinyMCEEntry");
	mceInstance.setContent(replaceNewlinesWithParas(userAutomatonOutput), { format: 'raw'});
	// CURSOR REPOSITIONING FROM http://stackoverflow.com/questions/1253303/whats-the-best-way-to-set-cursor-caret-position
	var cursorSpan = mceInstance.dom.select("span#lastCursor");
	mceInstance.selection.select(cursorSpan[0]);
	mceInstance.selection.collapse();
	mceInstance.dom.remove("lastCursor");
}

// FROM http://stackoverflow.com/questions/6234773/can-i-escape-html-special-chars-in-javascript
function escapeHTML(text) {
	return text.replace(/&/g, "&amp;")
				.replace(/</g, "&lt;")
				.replace(/>/g, "&gt;")
				.replace(/"/g, "&quot;")
				.replace(/'/g, "&#039;");
}

function userAutomaton(entry) {
	var workingState = 0;
	var outputString = "";
	var numbers = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
	var letters = ["a", "A", "b", "B", "c", "C", "d", "D", "e", "E", "f", "F", "g", "G", "h", "H", "i", "I", "j", "J", "k", "K", "l", "L", "m", "M", "n", "N", "o", "O", "p", "P", "q", "Q", "r", "R", "s", "S", "t", "T", "u", "U", "v", "V", "w", "W", "x", "X", "y", "Y", "z", "Z"];
	var currentUser = "";
	while (entry.length > 0) {
		if (workingState == 0) {
			if (entry[0] == "@") {
				workingState = 1;
				outputString = outputString + "@";
				entry = entry.slice(1, entry.length);
			} else {
				workingState = 0;
				outputString = outputString + entry[0];
				entry = entry.slice(1, entry.length);
			};
		} else {
			if (numbers.indexOf(entry[0]) >= 0 || letters.indexOf(entry[0]) >= 0 || entry[0] == "_") {
				currentUser = currentUser + entry[0];
				workingState = 1;
				entry = entry.slice(1, entry.length);
			} else {
				if (currentUser.length > 0) {
					outputString = outputString + "<a href=\"/" + currentUser + "\">" + currentUser + "</a>" + entry[0];
				} else {
					outputString += entry[0];
				}
				workingState = 0;
				entry = entry.slice(1, entry.length);
				currentUser = "";
			};
		};
	};
	
	if (currentUser.length > 0) {
		outputString = outputString + "<a href=\"/" + currentUser + "\">" + currentUser + "</a>";
	};
	
	return outputString;
		
	
}



