{% extends "rogging/loggeredit.html" %}

{% block error %}
<style>
	#savedNotice { font-family:"Perpetua", sans-serif; font-weight:lighter }
</style>
<div class="alert alert-success" role="alert" id="savedNotice">The log entry was saved</div>
{% endblock %}
