{% extends "rogging/starter.html" %}
{% load formattingfilters %}
{% block content %}
{% block error %}{% endblock %}
<style>
	{% include "rogging/loggercss.html" %}
	/*#loggerwell * { animation-name:loggerwellanimation; animation-duration:1s; }*/
</style>
<div id="loggerDiv" class="fadeInBottom">
	<form action="{% url 'rogging:roggerLogger' %}" method="post" id="loggerForm">
		{% csrf_token %}
		{% include "rogging/prepace.html" %}
		{% include "rogging/predelete.html" %}
		<button class="btn btn-lg btn-primary btn-block" type="button" id="submitEntryButton" onclick="submitEntry()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
	</form>
</div>

<!--CACHING VERSIONING IDEA FROM http://stackoverflow.com/questions/17777429/django-static-files-are-not-updated-->
<script src="{{ STATIC_URL}}logparsing3v1.0.js"></script>
<script src="{{ STATIC_URL}}tinymce/js/tinymce/tinymce.min.js"></script>
<script>
{% include "rogging/loggerjs.html" %}

/////////////////////// POST-LOAD //////////////////////////
{% include "rogging/loggerjspostload.html" %}
function adjustButton() {
	if ($(window).width() < 768) {
		$("#submitEntryButton").css("width", "100%").css("margin", "");
	} else {
		$("#submitEntryButton").css("width", "50%").css("margin", "auto");
	}
}
window.addEventListener("resize", adjustButton);
adjustButton();
{% if date != "" %}
$("#id_date")[0].value = "{{ date }}";
{% else %}
var currentDate = new Date();
var day = currentDate.getDate() < 10 ? "0" + currentDate.getDate() : currentDate.getDate();
var month = currentDate.getMonth()+1 < 10 ? "0" + (currentDate.getMonth() + 1) : (currentDate.getMonth() + 1);
$("#id_date")[0].value = currentDate.getFullYear() + "-" + month + "-" + day;
{% endif %}

window.addEventListener("beforeunload", animateUnload);
function animateUnload() {
	var loggerDiv = $("#loggerDiv");
	loggerDiv.removeClass("fadeInBottom");
	loggerDiv.addClass("fadeOutBottom");
}

var logContent = "{{ form.data.entry|newlinesToSlashNs }}";
tinymce.init({ selector: "#tinyMCEEntry",
				inline: true,
				content_css: "{{ STATIC_URL }}content.inline.min.css",
				plugins: "paste",
				toolbar: false,
				menubar: false,
				// IGNORING CERTAIN ELEMENTS IDEA FROM http://stackoverflow.com/questions/22184625/tinymce-ctrl-v-paste-as-plain-text-must-remove-chosen-foreign-elements
				valid_elements: "p, strong, a, span",
				paste_as_text: true,
				setup: function(ed) {
							ed.on('init', function() {
											copyToPreview(logContent);
											ed.on('keyup', function() {
													copyToPreview("");
											});				
							});
						}
				});
</script>
{% endblock %}
