{% extends "rogging/starter.html" %}
{% load formattingfilters %}
{% block content %}
<style>
	{% include "rogging/loggercss.html" %}
	.dataTag {
		font-weight:normal;
		display:block;
		color:#ff0000;
	}
	.dataDiv {
		padding:5px;
		background-color:#ffffff;
	}
	.dataDivLeft {
		float:left;
		width:50%;
		display:inline-block;
		padding:5px;
		background-color:#ffffff;
		border-top:3px solid #d9d9d9;
	}
	#titleDataDiv {
		margin:auto;
		font-size:18px;
		padding:10px;
		background:#c8c8c8;
		color:#000000;
	}
	.distanceData {
		font-size:20px;
	}
	.dataDivRight {
		width:50%;
		display:inline-block;
		padding:5px;
		border-left: 3px solid #d9d9d9;
		background-color:#ffffff;
	}
	#deleteEntryButton {
		background-color:#e60000;
		color:#ffffff;
		border-radius:0px;
		border-width:0px;
		width:20%;
		display:inline;
	}
	#deletePrompt {
		background:rgba(0, 0, 0, 0.5);
		color:#ffffff;
		width:250px;
		height:auto;
		position:fixed;
		margin:auto;
		padding:10px;
	}
	#confirmDeleteEntryButton {
		background:#33cc33;
		color:#ffffff;
		margin:10px 0px 0px 0px;
		border-radius:0px;
		width:50%;
	}
	#denyDeleteEntryButton {
		background:#e60000;
		color:#ffffff;
		margin:10px 0px 0px 0px;
		border-radius:0px;
		width:50%;
	}
	#buttonSpan {
		margin:auto;
		position:relative;
		display:block;
	}
	#commentingDiv {
		width:100%;
		color:#000000;
	}
	#commentDiv {
		background-color:#d9d9d9;
		color:#000000;
		padding:10px;
		margin-top:10px;
		box-shadow:0px 0px 1px #888;
		position:relative;
		top:0px;
	}
	#commentsTitle {
		margin-bottom:5px;
		display:inline-block;
		font-size:20px;
		
	}
	#commentingArea {
		height:50px;
		border:0px;
		padding:5px;
	}
	#postCommentButton {
		width:70px;
		height:50px;
		margin:0px;
		border-radius:0px;
		float:right;
		background-color:#e8e8e8;
	}
	#logPostDiv {
		background-color:#d9d9d9;
		padding:10px;
		box-shadow:0px 0px 1px #888;
		position:relative;
		left:0px;
	}
	.floatRight {
		float:right;
	}
	#typeAndDate {
		padding:5px;
		background-color:#009999;
		display:inline-block;
		font-size:12px;
	}
	#timeRan {
		padding:5px;
		background-color:#ff0066;
		display:inline-block;
		font-size:12px;
	}
	#distance {
		padding:5px;
		background-color:#ff9933;
		display:inline-block;
		font-size:12px;
	}
	#shoe {
		padding:5px;
		background-color:#00cc66;
		display:inline-block;
		font-size:12px;
	}
	#attributeDiv {
		font-size:0px;
	}
	#paceDiv {
		padding:10px;
		background-color:#ffffff;
	}
	.commentContent {
		white-space:pre-wrap;
	}
	.commentCount {
		padding:5px;
		background-color:#ccccff;
		font-size:16px;
		vertical-align:bottom;
		display:block;
		width:200px;
		margin:auto;
		text-align:center;
	}
	.userDiv {
		border-radius:28px;
		padding:3px 8px 3px 3px;
		background-color:#99ccff;
		color:#2a2aad;
		display:inline-block
	}
	.userLink {
		height:40px;
	}
	.userLink:hover {
		text-decoration:none;
	}
	.profthumb {
		width:30px;
		height:30px;
		border-radius:15px;
	}
</style>

<span id="loggereditspan">
{% if user.username == useroflog and user.is_authenticated %}
<div id="logEditDiv" class="fadeInLeft">
	{% block error %}{% endblock %}
	<form action="{% url 'rogging:accessRun' run=id %}" method="post" id="loggerForm">
		{% csrf_token %}
		{% include "rogging/prepace.html" %}
		{% if pace != "" %}
		<div id="paceDiv" class="formComponent">{{ pace }}/mi</div>
		{% endif %}
		{% include "rogging/predelete.html" %}
		<!--<br>{{ form.deleteEntry }}{{ form.deleteEntry.label }}-->
		<div id="buttonDiv">
			<button class="btn btn-lg" type="button" name="submitButton" id="submitEntryButton" onclick="submitEntry()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
			<button class="btn btn-lg" type="button" onclick="promptForDelete();" id="deleteEntryButton"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
			<button type="submit" name="delete" id="deleteEntry" hidden></button>
		</div>
	</form>
</div>
{% else %}
<div id="logPostDiv" class="fadeInLeft">
	<div id="titleDataDiv">
		{{ form.data.title }}
	</div>
	<!--<div class="dataDivLeft distanceData">
		{{ form.data.distance }} miles
	</div>-->
	<div id="attributeDiv">
		<span id="typeAndDate">
			<span class="bolded">{{ form.data.type }}{% if form.data.subtype != "Select subtype" %}|{{ form.data.subtype }}{% endif %}</span> on {{ form.data.date }}
		</span>
		<span id="distance">
			{{ form.data.distance|formatdistance }} miles
		</span>
		{% if form.data.timeRan != "" %}
		<span id="timeRan">
			{{ form.data.timeRan }}{% if pace != "" %} @ {{ pace }}/mi{% endif %}
		</span>
		{% endif %}
		{% if form.data.shoe != "Select shoe" %}
		<span id="shoe">
			{{ form.data.shoe }}
		</span>
		{% endif %}
	</div>
	<div class="previewBackground" id="previewBackground">
		<img class="previewWellHeaderImage" src="{{ STATIC_URL }}curlyquote.png"></img>
		<p class="entryPreview">{{ form.data.entry }}</p>
		<a class="userLink" href="{% url 'rogging:show' username=respectiveLog.user %}"><div class="userDiv"><img src="{{ respectiveLog.getThumbnail }}" class="profthumb"/> {{ respectiveLog.user }}</div></a> {{ form.data.dateAdded }}
	</div>
</div>
{% endif %} 
</div>

</div>
<div id="commentDiv" class="fadeInBottom">
	<div class="commentCount">
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <span id=numComments>{{ commentCount }}</span>
	</div>
	<div id="commentArea">
	{% include "rogging/comment.html" %}
	</div>
	{% if user.is_authenticated %}
	<div id="commentingDiv">
		<textarea id="commentingArea" placeholder="Put comment here"></textarea><button class="btn btn-lg" onclick="postComment()" id="postCommentButton"><span class="glyphicon glyphicon-send"></span></button>
	</div>
	{% endif %}
</div>

</span>
<div id="deletePrompt" hidden>
		Do you want to delete this log entry?
		<br>
		<button class="btn btn-lg" type="button" onclick="deleteConfirmed(); removePrompt();" name="delete" id="confirmDeleteEntryButton"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button><button class="btn btn-lg" type="button" onclick="removePrompt();" id="denyDeleteEntryButton"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
</div>

<!-- CACHING VERSIONING IDEA FROM http://stackoverflow.com/questions/17777429/django-static-files-are-not-updated -->
<script src="{{ STATIC_URL}}logparsing3v1.0.js"></script>
<script src="{{ STATIC_URL}}tinymce/js/tinymce/tinymce.min.js"></script>
<script>


{% if user.is_authenticated and user.username == useroflog %}
{% include "rogging/loggerjs.html" %}
function promptForDelete() {
	$("#loggereditspan").css("filter", "blur(5px)")
						.css("-webkit-filter", "blur(5px)");
	$("#deletePrompt").show();
}
function deleteConfirmed() {
	$("#deleteEntry").click();
}
function removePrompt() {
	$("#loggereditspan").css("filter", "")
						.css("-webkit-filter", "");
	$("#deletePrompt").hide();
}


function loadPreview(entry) {
	var units = {{ units|safe }};
	var unitLengths = {{ unitConversions|safe }};
	var escapedEntry = escapeHTML(entry.value);
	var automatonRunthrough = logParsingAutomaton(escapedEntry, units);
	var distanceOutput = addRuns(automatonRunthrough[0], units, unitLengths);
	var modifiedStringAfterDistanceCalculation = formatString(escapedEntry, "bolded", units);
	var userAutomatonOutput = userAutomaton(modifiedStringAfterDistanceCalculation);
	console.log(userAutomatonOutput);
	$(".entryPreview").first().html(userAutomatonOutput);
}
{% endif %}

{% if user.is_authenticated %}
function postComment() {
	comment = document.getElementById("commentingArea").value;
	console.log(comment);
	$.post("{% url 'rogging:accessRun' run=id %}", { type:"comment", comment:comment, csrfmiddlewaretoken:'{{ csrf_token }}'}, function(data) {
		commentArea = $("#commentArea");
		commentArea.html(data);
		$("#numComments").html(commentArea.children(".commentDiv").length);
		document.getElementById("commentingArea").value = "";
		linkUsersInComments();
	});
}

function deleteComment(clickable) {
	console.log("got into delete comment");
	var id = $(clickable).parent().parent().parent().parent().parent().children("span").first().html();
	console.log(id);
	console.log(id);
	$.post("{% url 'rogging:accessRun' run=id %}", { type: "deleteComment", comment: id, csrfmiddlewaretoken:'{{ csrf_token }}' }, function(data) {
		var commentArea = $("#commentArea");
		commentArea.html(data);
		$("#numComments").html(commentArea.children(".commentDiv").length);
	});
}
{% endif %}


function linkUsersInComments() {
	var comments = $(".commentContent");
	console.log(comments);
	for (var i = 0; i < comments.length; i++) {
		comments[i].innerHTML = userAutomaton(comments[i].innerHTML);
	};
}


////////////////////// POST LOAD /////////////////////////////

{% if user.is_authenticated and user.username == useroflog %}
{% include "rogging/loggerjspostload.html" %}
$("#submitEntryButton").css("margin", "").css("width", "80%");


function adjustDeletePrompt() {
	var deletePrompt = $("#deletePrompt");
	deletePrompt.css("top", (($(window).height() - deletePrompt.height())/2) + "px")
				.css("left", (($(window).width() - deletePrompt.width())/2) + "px");
}

function adjustButtonDiv() {
	console.log("adjusting buttonSpan");
	if ($(window).width() < 768) {
		$("#buttonDiv").css("width", "100%");
		$("#buttonDiv").css("margin-left", "0%");
	} else {
		$("#buttonDiv").css("width", "50%");
		$("#buttonDiv").css("margin-left", "25%");
	}
}

window.addEventListener("resize", adjustDeletePrompt);
window.addEventListener("resize", adjustButtonDiv);
adjustDeletePrompt();
adjustButtonDiv();
{% endif %}

{% if user.is_authenticated %}
function adjustCommentingArea() {
	console.log("adjusting commenting area");
	$("#commentingArea").css("width", ($("#commentingDiv").width() - ($("#postCommentButton").width() + 34)) + "px");
}

window.addEventListener("resize", adjustCommentingArea);
adjustCommentingArea();

{% endif %}






{% if user.username != useroflog or not user.is_authenticated %}
function userAutomaton(entry) {
	var workingState = 0;
	var outputString = "";
	var numbers = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"];
	var letters = ["a", "A", "b", "B", "c", "C", "d", "D", "e", "E", "f", "F", "g", "G", "h", "H", "i", "I", "j", "J", "k", "K", "l", "L", "m", "M", "n", "N", "o", "O", "p", "P", "q", "Q", "r", "R", "s", "S", "t", "T", "u", "U", "v", "V", "w", "W", "x", "X", "y", "Y", "z", "Z"];
	var currentUser = "";
	while (entry.length > 0) {
		if (workingState == 0) {
			if (entry[0] == "@") {
				workingState = 1;
				outputString = outputString + "@";
				entry = entry.slice(1, entry.length);
			} else {
				workingState = 0;
				outputString = outputString + entry[0];
				entry = entry.slice(1, entry.length);
			};
		} else {
			if (numbers.indexOf(entry[0]) >= 0 || letters.indexOf(entry[0]) >= 0 || entry[0] == "_") {
				currentUser = currentUser + entry[0];
				workingState = 1;
				entry = entry.slice(1, entry.length);
			} else {
				if (currentUser.length > 0) {
					outputString = outputString + "<a href=\"/" + currentUser + "\">" + currentUser + "</a>" + entry[0];
				} else {
					outputString += entry[0];
				}
				workingState = 0;
				entry = entry.slice(1, entry.length);
				currentUser = "";
			};
		};
	};
	
	if (currentUser.length > 0) {
		outputString = outputString + "<a href=\"/" + currentUser + "\">" + currentUser + "</a>";
	};
	
	return outputString;
		
	
}
entryPreview = $(".entryPreview").first();
entryPreview.html(userAutomaton(entryPreview.html()));
{% else %}
var logContent = "{{ form.data.entry|newlinesToSlashNs }}";
tinymce.init({ selector: "#tinyMCEEntry",
				inline: true,
				content_css: "{{ STATIC_URL }}content.inline.min.css",
				plugins: "paste",
				toolbar: false,
				menubar: false,
				// IGNORING CERTAIN ELEMENTS IDEA FROM http://stackoverflow.com/questions/22184625/tinymce-ctrl-v-paste-as-plain-text-must-remove-chosen-foreign-elements
				valid_elements: "p, strong, a, span",
				paste_as_text: true,
				setup: function(ed) {
							ed.on('init', function() {
											copyToPreview(logContent);
											ed.on('keyup', function(e) {
															console.log(e.keyCode);
															copyToPreview("");
											});
							});
						}
				});
{% endif %}
linkUsersInComments();
window.addEventListener("beforeunload", animateUnload);
function animateUnload() {
	{% if user.is_authenticated and user.username == useroflog %}
	var logEditDiv = $("#logEditDiv");
	logEditDiv.removeClass("fadeInLeft");
	logEditDiv.addClass("fadeOutLeft");
	{% else %}
	var logPostDiv = $("#logPostDiv");
	logPostDiv.removeClass("fadeInLeft");
	logPostDiv.addClass("fadeOutLeft");
	{% endif %}
	var commentDiv = $("#commentDiv");
	commentDiv.removeClass("fadeInBottom");
	commentDiv.addClass("fadeOutBottom");
}
</script>

{% endblock %}
