<style>
	.form-signin-heading { text-align:center; }
	#loginbutton {
		background-color:#000000; font-color:#ffffff; border-radius:0px;
	}
	.form-signin > div {
		text-align:center;
		padding-top:10px;
	}
</style>
<link href="{{ STATIC_URL }}signin.css" rel="stylesheet">
{% block error %}{% endblock %}
<form action="{% url 'rogging:loginUser' %}" method="post" class="form-signin">
	{% csrf_token %}
	<h2 class="form-signin-heading">Log In</h2>
	<input id="id_username" maxlength="200" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
	<input id="id_password" name="password" type="password" class="form-control" placeholder="Password" required>
	<button class="btn btn-lg btn-primary btn-block" type="submit" id="loginbutton"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
	<div>
		<a href="{% url 'passwordReset' %}">Forgot password?</a>
		<br><a href="{% url 'rogging:lostUsername' %}">Forgot username?</a>
		<br><a href="{% url 'rogging:createAccount' %}">New?</a>
	</div>
</form>

