{% extends "rogging/login.html" %}
{% block error %}
<style>
	#errornotice {
		text-align:center;
	}
</style>
<div class="alert alert-danger" role="alert" id="errornotice">The data you entered is invalid; please re-enter the data.</div>
{% endblock %}

