{% extends "rogging/login.html" %}
{% block error %}
<style>
	#errornotice {
		text-align:center;
	}
</style>
<div class="alert alert-danger" role="alert" id="errornotice">The user is no longer active. Try a different user.</div>
{% endblock %}

