{% extends "rogging/login.html" %}
{% block error %}
<style>
	#errornotice {
		text-align:center;
	}
</style>
<div class="alert alert-danger" role="alert" id="errornotice">The username and/or password you entered is invalid. Please try again.</div>
{% endblock %}

