{% extends "rogging/starter.html" %}

{% block content %}
{% block error %}{% endblock %}
<link href="{{ STATIC_URL }}lostusernames.css" rel="stylesheet">
<form action="{% url 'rogging:lostUsername' %}" method="post" class="form-signin">
	<h2 class="form-signin-heading">Request Usernames</h2>
	<input id="id_emailAddress" name="emailAddress" type="email" placeholder="Email address" class="form-control" required autofocus/>
	{% csrf_token %}
	<button class="btn btn-lg btn-primary btn-block" type="submit" id="usernamesrequestbutton">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
</form>
{% endblock %}