{% for metric in metrics %}
<div>
	<label>{{ metric.name }}</label> {{ metric.distance }} miles
	<button value="{{ metric.id }}" onclick="deleteMetric(this.value)" type="button">Delete</button>
</div>
{% endfor %}