{% extends 'rogging/starter.html' %}

{% block content %}
{% if validlink == True %}
<link href="{{ STATIC_URL }}resetpassword.css" rel="stylesheet">
<form action="{% url 'password_reset_confirm' uidb64=uid token=token %}" method="post" class="form-signin">
	<h2 class="form-signin-heading">Reset Password</h2>
	<input id="id_new_password1" type="password" name="new_password1" placeholder="New password" class="form-control" required autofocus/>
	<input id="id_new_password2" type="password" name="new_password2" placeholder="Confirm new password" class="form-control" required/>
	{% csrf_token %}
	<button class="btn btn-lg btn-primary btn-block" type="submit" id="resetpasswordbutton">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
</form>
{% else %}
<div>
	The link is invalid. Please request another password reset.
</div>
{% endif %}
{% endblock %}