<!-- body tag insertion and inline style suggestion from http://www.sitepoint.com/how-to-code-html-email-newsletters/ -->
<html>
	<body>
		<div>
			<div id="title" style="font-family:'Brush Script MT', sans-serif; font-size:30px; background:#202020; color:#fff; text-align:center; padding-bottom:7px;">
				rogger
			</div>
			<div id="content" style="font-family:sans-serif; font-weight:lighter; background-color:#fff;">
				<div id="greeting" style="padding-top:10px; text-align:center;">Hi!</div>
				<div class="paddingDiv" style="padding:10px;">
					A password reset request was made for the account with the username <strong>{{ user.username }}</strong> and associated with the email address <strong>{{ user.email }}</strong>. 
					<div class="paddingTopDiv" style="padding-top:10px;">
						If you didn't request this reset, just ignore this email.
					</div>
					<div class="paddingTopDiv" style="padding-top:10px;">
						If you did request this reset, please follow this <a href="https://www.rogger.co{% url 'password_reset_confirm' uidb64=uid token=token %}">link</a> to reset your password.
					</div>
					<div class="paddingTopDiv smallText" style="padding-top:10px; font-size:10px;">
						If you cannot click on the link above, use your browser to go to this url: https://www.rogger.co{% url 'password_reset_confirm' uidb64=uid token=token %}
					</div>
					<div class="paddingTopDiv" style="padding-top:10px;">
						Thanks!
						<br>- Rogger team
					</div>
				</div>
			</div>
		</div>
	</body>
</html>