{% extends "rogging/starter.html" %}

{% block content %}
<link href="{{ STATIC_URL }}resetpasswordusername.css" rel="stylesheet">
{% block error %}{% endblock %}
<form action="/passwordreset" method="post" class="form-signin">
	<h2 class="form-signin-heading">Reset Password</h2>
	<input id="id_username" name="username" type="text" maxlength=200 placeholder="Username" class="form-control" required autofocus/>
	{% csrf_token %}
	<button class="btn btn-lg btn-primary btn-block" type="submit" id="resetrequestbutton">
		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
</form>
{% endblock %}
