{% extends "rogging/starter.html" %}

{% block content %}
<div class="alert alert-danger" role="alert">No such user exists</div>
<form action="/passwordreseet" method="post">
	{{ form }}
	{% csrf_token %}
</form>
{% endblock %}