{% extends "rogging/passwordreset.html" %}

{% block error %}
<style>
	.error {
		text-align:center;
	}
</style>
<div class="alert alert-danger error" role="alert">The username you entered is invalid</div>
{% error %}
