{% extends 'rogging/starter.html' %}

{% block content %}
<style>
	#resetConfirmDiv {
		text-align:center;
	}
</style>
<div id="resetConfirmDiv">
	You password has been reset. Please <a href="{% url 'rogging:loginUser' %}">log in</a> to continue using your account
</div>
{% endblock %}