		{{ form.shoe }}{{ form.shoe.errors }}
		{{ form.type }}{{ form.type.errors }}
		{{ form.subtype }}{{ form.subtype.errors }}
		<div class="previewBackground">
			<img class="previewWellHeaderImage" src="{{ STATIC_URL }}curlyquote.png"></img>
		</div>
		<div id="tinyMCEEntry" oninput=""></div>
		<textarea id="id_entry" name="entry" hidden></textarea>