		<!--<label class="dateanddistance formComponent">{{ form.title.errors }}</label>--><input id="id_title" placeholder="Title" maxlength="200" name="title" type="text" class="wide formComponent" value="{{ form.data.title }}"/> 
		<br><input id="id_date" class="dateanddistance formComponent" name="date" type="text" placeholder="YYYY-MM-DD" value="{{ form.data.date }}"/>
		<!--<label class="dateanddistance formComponent">{{ form.errors.date.0 }}</label>-->
		<input id="id_distance" class="dateanddistance formComponent" name="distance" type="text" placeholder="Distance" value="{{ form.data.distance }}"/>
		<!--<label class="dateanddistance formComponent">{{ form.errors.distance.0 }}</label>-->
		<input id="id_timeRan" class="dateanddistance formComponent" name="timeRan" type="text" placeholder="HH:MM:SS.SS" value="{{ form.data.timeRan }}"/>
		<!--<label class="dateanddistance formComponent">{{ form.errors.timeRan.0 }}</label>-->