{% load formattingfilters %}
<style>
	@page {
		size: 8.5in 11in portrait;
		margin: 1in;
	}
	.entryPrint {
		padding-top:5px;
		white-space:pre-wrap;
	}
	.sansserif {
		font-family:sans-serif;
		line-height:normal;
		font-size:16px;
	}
	.center {
		width:100%;
		text-align:center;
	}
	.printTitle {
		text-decoration:underline;
	}
	
</style>

<div id="printNameHeader" class="sansserif center"></div>
<div class="sansserif center"><b>Week of {{ week.0.0.0|prettydate }}</b></div>
<br>
<br>
{% for day in week.0 %}
<div class="sansserif"><b>{{ day.0|prettydate }}</b></div>
<br>
{% for workout in day.1 %}
<div class="sansserif printTitle">{{ workout.displayTitle }}</div>
<div class="sansserif printDistance">{{ workout.distanceInDesiredUnits }} miles</div>
{% if workout.timeRanString != "" %}<div class="printTimeRan sansserif">{{ workout.timeRanString }}{% if workout.paceString != "" %} @ {{ workout.paceString }}/mi{% endif %}</div>{% endif %}
{% if workout.shoe != "Select shoe" %}<div class="printShoe sansserif" hidden>{{ workout.shoe.name }}</div>{% endif %}
<div class="printType sansserif">{{ workout.kind }}{% if workout.mervSubtype != None %} - {{ workout.mervSubtype }}{% endif %}</div>
{% if workout.entry != "" %}<div class="entryPrint sansserif">{{ workout.entry }}</div>{% endif %}
<br>
{% endfor %}
<br>
{% endfor %}
<div class="sansserif"><b>WEEK TOTAL DISTANCES</b></div>
{% for key, value in week.1.iteritems %}
	{% if value > 0 %}
	<div class="sansserif">{{ key }}: {{ value|formatdistance }} {{ units }}</div>
	{% endif %}
{% endfor %}
<span id="isoDateString" hidden>{{ week.0.0.0|isodatenodash }}</span>