{% load formattingfilters %}
{% for run in runs %}
<div class="entryContainer">
	<span hidden>{{ run.id }}</span>
	<div class="userTitleDiv">
		<a href="{% url 'rogging:accessRun' run=run.id %}"><span class="titleDiv">{{ run.displayTitle }}</span></a>
	</div>
	<span class="typeAndDate">
		{{ run.date }}
	</span>
	<span class="distance">
		{{ run.distanceInDesiredUnits|formatdistance }} miles
	</span>
	{% if run.getNumberOfComments != 0 %}
	<span class="commentCount">
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ run.getNumberOfComments }}
	</span>
	{% endif %}
	{% if run.entry != "" %}
	<div class="previewBackground">
		<img class="previewWellHeaderImage" src="{{ STATIC_URL }}curlyquote.png"></img>
		<p class="entryPreview">{{ run.entry|truncateandpreserve:150 }}</p>
	</div>
	{% endif %}
</div>
{% endfor %}