{% extends "rogging/starter.html" %}

{% block content %}
<style>
	p, h1, h2, h5 { font-family: sans-serif; font-weight:lighter; }
	.roggerBrand {
		font-family: "Brush Script MT", sans-serif;
		font-size:100px;
		text-align:center;
		width:100%;
	}
	#siteIdentifier {
		text-align:center;
		font-size:20px;
	}
	#creator {
		font-size:10px;
	}
	#creator > a {
		color:#000;
	}
	#creator > a:hover {
		color:#fff;
		text-decoration:none;
	}
	#aboutDiv {
		position:relative;
		top:0px;
	}
	
</style>
<div id="aboutDiv" class="fadeInBottom">
<div id="siteIdentifier">
	<h1 class="roggerBrand">rogger</h1>
	Make America Log Again
	<div id="creator">a site by <a href="http://www.bencutilli.com">Ben Cutilli</a></div>
</div>
<br><br><br>
<h5>In loving memory of Vincent F. Cutilli</h5>
<h1>Need help? Email ben@rogger.co!</h1>
<h2>The source code for this project can be found <a href="https://bitbucket.org/roggerlogger/rog">here</a></h2>
<h2>Because of FREAKING ClamAV, this site and code is now licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL</a></h2>
<p>Here's some license crap you probably don't want to see:
<br>Copyright (C) 2016  Benjamin Cutilli
<br><br>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
<br><br>
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
<br><br>
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see &lthttp://www.gnu.org/licenses/&gt.
</p>
<h2>This project is built on <a href="https://www.djangoproject.com/">Django</a>
<br>License can be found <a href="{{ STATIC_URL }}djangolicense.txt">here</a>
<h2>Some front-end elements are based on <a href="getbootstrap.com">Bootstrap</a>
<br>License can be found <a href="{{ STATIC_URL }}bootstraplicense.txt">here</a></h2>
<h2>Interaction with AWS provided by Boto and Boto3
<br>License for Boto3 can be found <a href="http://www.apache.org/licenses/LICENSE-2.0">here</a>
<br>License for Boto can be found <a href="{{ STATIC_URL }}botolicense.txt">here</a></h2>
<h2>Image manipulation by <a href="https://python-pillow.github.io/">Pillow</a>
<br>License <a href="http://www.pythonware.com/products/pil/license.htm">here</a></h2>
<h2>Database interface provided by <a href="http://initd.org/psycopg/">Psycopg2</a>
<br>Licenses: <a href="http://www.gnu.org/licenses/lgpl-3.0-standalone.html">LGPL</a> and <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GPL</a>
<br>You can install this software by running the command "pip install psycopg2"</h2>
<h2>PDF generation provided by <a href="https://pypi.python.org/pypi/xhtml2pdf">xhtml2pdf</a>
<br>License <a href="http://www.apache.org/licenses/LICENSE-2.0">here</a></h2>
<h2><a href="http://glyphicons.com/">Glyphicons</a> is used in this project</h2>
<h2><a href="http://www.clamav.net/">ClamAV</a> is used in this project for virus detection
<br>License <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">here</a></h2>
<h2><a href="http://xael.org/pages/pyclamd-en.html">pyClamd</a> is used in this project under <a href="http://www.gnu.org/licenses/lgpl-3.0.txt">LGPL</a> and <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GPL</a>
<br>You can install this software using the command "pip install pyclamd"</h2>
<h2>This site uses "Latin Modern Roman" as a font
<br>The license can be found <a href="{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/GUST%20e-foundry%20License.txt">here</a>
<br>All of the URLs of the files related to this font are listed <a href="{{ STATIC_URL }}Latin-Modern-Romanfilelocations.txt">here</a></h2>
<h2>Text editing interface provided by <a href="https://www.tinymce.com/">TinyMCE</a>. You can download the software at that link.
<br>License <a href="{{ STATIC_URL }}tinymce/LICENSE.TXT">here</a>
<h1>Here are resources that have been a help in building this project. We cannot claim all credit in building this project; thanks for those that have helped.</h1>
<p>
<br>Django Web Development Framework
<br>http://nedbatchelder.com/text/python-parsers.html
<br>http://stackoverflow.com/questions/11880430/python-inline-if-statement
<br>http://stackoverflow.com/questions/423379/using-global-variables-in-a-function-other-than-the-one-that-created-them
<br>http://stackoverflow.com/questions/438844/is-there-a-label-goto-in-python
<br>http://forums.udacity.com/questions/100131884/python-maximum-recursion-depth
<br>http://stackoverflow.com/questions/3323001/maximum-recursion-depth
<br>http://www.virtualenv.org
<br>http://stackoverflow.com/questions/14617041/how-can-i-see-the-current-value-of-my-path-variable-on-os-x
<br>http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
<br>https://virtualenv.pypa.io/en/latest/virtualenv.html#usage
<br>http://stackoverflow.com/questions/2998215/if-python-is-interpreted-what-are-pyc-files
<br>http://stackoverflow.com/questions/6358030/how-to-reset-django-admin-password
<br>http://stackoverflow.com/questions/14013728/django-no-module-named-django-core-management
<br>http://stackoverflow.com/questions/11005457/how-do-i-remove-delete-a-virtualenv
<br>https://www.google.com/?gws_rd=ssl#q=logger.com
<br>Google search of "python runlog"
<br>http://stackoverflow.com/questions/11391424/how-to-delete-project-in-django
<br>http://www.w3schools.com/tags/
<br>http://www.w3schools.com/css/default.asp
<br>http://www.tizag.com/cssT/font.php
<br>http://cssfontstack.com
<br>http://www.w3schools.com/cssref/default.asp
<br>http://stackoverflow.com/questions/24281544/how-to-add-an-onchange-event-to-django-form-fields-with-field-itself-as-an-argum
<br>http://python.6.x6.nabble.com/Adding-an-onchange-method-to-a-field-in-a-form-td155423.html
<br>http://www.w3schools.com/js/default.asp
<br>https://developer.mozilla.org/en-US/
<br>http://stackoverflow.com/questions/9751207/how-can-i-use-goto-in-javascript
<br>http://www.reddit.com/r/web_design/comments/15a8yq/php_vs_javascript_vs_ruby_whats_the_difference/
<br>http://python.6.x6.nabble.com/Adding-an-onchange-method-to-a-field-in-a-form-td155423.html
<br>http://www.w3schools.com/jsref/default.asp
<br>http://stackoverflow.com/questions/10270351/how-to-write-an-inline-if-statement-in-javascript
<br>https://developer.apple.com/library/mac/documentation/AppleApplications/Conceptual/Safari_Developer_Guide/Debugger/Debugger.html
<br>http://stackoverflow.com/questions/10654992/how-to-get-collection-of-keys-in-javascript-dictionary
<br>http://stackoverflow.com/questions/5594850/is-there-a-dictionary-implementation-in-javascript
<br>http://www.w3.org/WAI/UA/TS/html401/cp0102/0102-ONCHANGE-INPUT.html
<br>http://www.htmlgoodies.com/beyond/javascript/article.php/3471111/A-Quick-Tutorial-on-JavaScript-Variable-Passing.htm
<br>http://www.htmlcodetutorial.com/forms/_INPUT_onChange.html
<br>http://stackoverflow.com/questions/1532875/django-javascript-files
<br>http://unschooled.org/2012/03/understanding-javascript-this/
<br>http://stackoverflow.com/questions/3180710/javascript-change-p-content-depending-on-select-option
<br>http://stackoverflow.com/questions/10199873/jquery-mobile-checkbox-unchecks-itself
<br>http://stackoverflow.com/questions/4649705/click-event-being-fired-twice-jquery
<br>http://stackoverflow.com/questions/10491029/checkbox-toggle-button-check-uncheck-itself
<br>http://www.techrepublic.com/blog/the-enterprise-cloud/top-cloud-iaas-providers-compared/
<br>http://www.javascripture.com/EventListener
<br>http://www.w3.org/TR/DOM-Level-2-Events/events.html#Events-EventListener
<br>http://www.htmlgoodies.com/html5/tutorials/introducing-html-5-web-workers-bringing-multi-threading-to-javascript.html#fbid=CWJ__il5vBy
<br>http://www.w3schools.com/js/js_htmldom_eventlistener.asp
<br>http://www.w3schools.com/json/
<br>http://en.wikipedia.org/wiki/Deterministic_finite_automaton
<br>http://stackoverflow.com/questions/3435182/django-permissions-based-on-model-instance
<br>http://stackoverflow.com/questions/23139657/django-get-all-users
<br>http://stackoverflow.com/questions/8863604/where-do-you-define-the-django-forms
<br>http://stackoverflow.com/questions/9324432/how-to-create-password-input-field-in-django
<br>http://stackoverflow.com/questions/1134476/django-login-takes-exactly-1-argument-2-given-error
<br>http://www.redrobotstudios.com/blog/2009/02/18/securing-django-with-ssl/
<br>http://security.stackexchange.com/questions/8964/trying-to-make-a-django-based-site-use-https-only-not-sure-if-its-secure
<br>http://www.w3schools.com/html/html_links.asp
<br>http://stackoverflow.com/questions/20957388/what-is-a-context-in-django
<br>https://mail.python.org/pipermail/tutor/2003-July/024206.html
<br>http://sqlitebrowser.org/
<br>http://stackoverflow.com/questions/6485106/which-is-easy-way-to-clear-database-in-django
<br>http://en.wikipedia.org/wiki/.DS_Store
<br>http://stackoverflow.com/questions/11391424/how-to-delete-project-in-django
<br>https://www.linux.com/learn/tutorials/228600-vim-101-a-beginners-guide-to-vim
<br>http://git-scm.com/docs/git-remote
<br>http://www.jeffknupp.com/blog/2012/02/07/using-git-with-django/
<br>http://jasonkotenko.com/posts/using-git-django-github/
<br>http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
<br>http://stackoverflow.com/questions/5439901/getting-a-count-of-objects-in-a-queryset-in-django
<br>http://stackoverflow.com/questions/9324432/how-to-create-password-input-field-in-django
<br>w3schools.com's HTML and CSS tutorials and references
<br>http://stackoverflow.com/questions/18600707/where-to-put-validator-for-django-model-field
<br>http://stackoverflow.com/questions/7366363/adding-custom-django-model-validation
<br>http://www.timeanddate.com/date/leapyear.html
<br>http://stackoverflow.com/questions/735545/how-to-access-data-when-form-is-valid-is-false
<br>http://stackoverflow.com/questions/7111590/django-orm-charfield-and-blank-true
<br>http://stackoverflow.com/questions/16404879/why-is-blank-is-missing-in-django-forms-charfield-but-present-in-django-db-mo
<br>http://www.rpi.edu/dept/acs/rpinfo/common/Computing/Consulting/Software/Emacs/Hints/backup.html
<br>http://www.robotmedia.net/2011/04/how-to-create-an-amazon-ec2-instance-with-apache-php-and-mysql-lamp/
<br>http://www.nczonline.net/blog/2011/07/21/quick-and-dirty-spinning-up-a-new-ec2-web-server-in-five-minutes/
<br>http://en.wikipedia.org/wiki/.co
<br>http://support.domainpanel.com/index.php?_m=knowledgebase&_a=viewarticle&kbarticleid=81
<br>https://community.namecheap.com/forums/viewtopic.php?f=6&t=5898
<br>https://www.howtoforge.com/virtual-users-and-domains-with-postfix-courier-mysql-and-squirrelmail-ubuntu-12.04-lts
<br>http://www.binarytides.com/linux-mail-command-examples/
<br>http://www.rackspace.com/knowledge_center/article/basic-settings-in-the-postfix-maincf-file
<br>https://www.digitalocean.com/community/tutorials/how-to-install-linux-apache-mysql-php-lamp-stack-on-ubuntu
<br>http://stackoverflow.com/questions/6367014/how-to-send-email-via-django
<br>https://www.digitalocean.com/community/tutorials/how-to-install-and-setup-postfix-on-ubuntu-14-04
<br>http://ubuntuforums.org/showthread.php?t=1172114
<br>http://stackoverflow.com/questions/6386308/http-requests-and-json-parsing-in-python
<br>http://stackoverflow.com/questions/5308060/how-to-send-a-post-request-using-django
<br>http://serverfault.com/questions/287640/ssl-certificate-for-website-no-legal-company-name
<br>http://askubuntu.com/questions/161104/ubuntu-how-do-i-install-make
<br>http://geeksww.com/tutorials/libraries/openssl/installation/installing_openssl_on_ubuntu_linux.php
<br>http://en.wikipedia.org/wiki/Heartbleed#Affected_OpenSSL_installations
<br>http://unix.stackexchange.com/questions/6596/how-do-i-zip-unzip-on-the-unix-command-line
<br>http://billpatrianakos.me/blog/2014/04/04/installing-comodo-positive-ssl-certs-on-apache-and-openssl/
<br>https://www.digitalocean.com/community/tutorials/how-to-set-up-apache-virtual-hosts-on-ubuntu-14-04-lts
<br>http://www.emreakkas.com/linux-tips/invalid-command-sslengine-enabling-ssl-on-ubuntu-server
<br>https://help.ubuntu.com/lts/serverguide/httpd.html
<br>https://www.digicert.com/ssl-certificate-installation-ubuntu-server-with-apache2.htm
<br>https://www.devside.net/wamp-server/installing-comodo-positivessl-certificate-bundled-with-root-and-intermediate-ca-certificates-on-apache
<br>https://help.ubuntu.com/community/OpenSSL
<br>http://ubuntuforums.org/showthread.php?t=790876
<br>http://askubuntu.com/questions/471906/gtk-warning-cannot-open-display-on-ubuntu-server
<br>http://ubuntuforums.org/showthread.php?t=1428678
<br>http://askubuntu.com/questions/79280/how-to-install-chrome-browser-properly-via-command-line
<br>http://www.djangobook.com/en/2.0/chapter12.html
<br>http://stackoverflow.com/questions/20321673/debugging-apache-django-wsgi-bad-request-400-error
<br>http://unix.stackexchange.com/questions/38978/where-are-apache-file-access-logs-stored
<br>https://www.digitalocean.com/community/tutorials/how-to-run-django-with-mod_wsgi-and-apache-with-a-virtualenv-python-environment-on-a-debian-vps
<br>http://nickpolet.com/blog/1/
<br>http://serverfault.com/questions/273847/what-does-warning-untrusted-x11-forwarding-setup-failed-xauth-key-data-not-ge
<br>https://www.digitalocean.com/community/questions/timeout-in-locking-authority-file-home-username-xauthority
<br>http://askubuntu.com/questions/165921/error-on-boot-12-04/166115#166115
<br>https://confluence.atlassian.com/display/STASH/Basic+Git+commands
<br>https://www.digitalocean.com/community/tutorials/how-to-serve-django-applications-with-apache-and-mod_wsgi-on-ubuntu-14-04
<br>http://docstore.mik.ua/orelly/networking_2ndEd/ssh/ch09_03.htm
<br>http://stackoverflow.com/questions/11880430/python-inline-if-statement
<br>http://stackoverflow.com/questions/14013728/django-no-module-named-django-core-management
<br>http://stackoverflow.com/questions/23728366/django-admin-not-serving-static-files
<br>Mozilla developer network
<br>http://stackoverflow.com/questions/901551/how-do-i-include-image-files-in-django-templates
<br>http://www.w3schools.com/tags/ref_colorpicker.asp
<br>http://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/
<br>http://www.w3schools.com/bootstrap/bootstrap_case_navigation.asp
<br>Bootstrap
<br>W3School's Bootstrap section
<br>http://www.timeanddate.com/calendar/custommenu.html
<br>http://stackoverflow.com/questions/13528287/how-do-i-get-tomorrows-date-in-python
<br>http://stackoverflow.com/questions/4280691/list-reverse-does-not-return-list
<br>http://stackoverflow.com/questions/15885560/using-css-to-change-appearance-of-input-fields-causes-distortion-in-height-width
<br>http://stackoverflow.com/questions/11425802/how-to-check-that-the-data-is-null-in-django-view
<br>http://www.w3.org/wiki/Generic_containers_-_the_div_and_span_elements#Inline_versus_block
<br>http://www.codeproject.com/Questions/265497/how-to-divide-web-page-in-vertical-columns
<br>http://stackoverflow.com/questions/466345/converting-string-into-datetime
<br>http://hayageek.com/jquery-ajax-json-parsejson-post-getjson/
<br>http://stackoverflow.com/questions/20306981/how-do-i-integrate-ajax-with-django-applications
<br>https://code.tutsplus.com/courses/30-days-to-learn-jquery
<br>W3School's AJAX section
<br>http://stackoverflow.com/questions/5154358/django-what-is-the-difference-between-render-render-to-response-and-direc
<br>http://stackoverflow.com/questions/12070193/why-is-datetime-strptime-not-working-in-this-simple-example
<br>http://stackoverflow.com/questions/16697906/python-unicodeencodeerror-converting-unicode-to-ascii
<br>http://stackoverflow.com/questions/402504/how-to-determine-the-variable-type-in-python
<br>http://stackoverflow.com/questions/2115869/calling-python-function-in-django-template
<br>http://stackoverflow.com/questions/12775565/read-more-in-django-posts
<br>http://blog.merren.net/2013/02/django-ajax-post-and-csrf.html
<br>merv.stanford.edu
<br>http://stackoverflow.com/questions/20752737/django-httpresponseredirect-pass-variable-to-template-and-read-it
<br>http://stackoverflow.com/questions/503093/how-can-i-make-a-redirect-page-using-jquery
<br>http://stackoverflow.com/questions/4825295/javascript-onclick-to-get-the-id-of-the-clicked-button
<br>http://stackoverflow.com/questions/23115959/pass-arguments-using-the-httpresponseredirect-in-django
<br>http://stackoverflow.com/questions/11241668/what-is-reverse-in-django
<br>http://stackoverflow.com/questions/6085804/passing-a-variable-in-redirect-in-django
<br>http://stackoverflow.com/questions/2734055/putting-a-django-login-form-on-every-page
<br>http://stackoverflow.com/questions/1874127/when-should-i-wrap-a-dom-object-with
<br>https://django-endless-pagination.readthedocs.org/en/latest/start.html
<br>http://stackoverflow.com/questions/4965639/rollback-to-last-git-commit
<br>http://anandology.com/python-practice-book/iterators.html
<br>http://stackoverflow.com/questions/11671429/how-to-change-the-shape-of-submit-button-to-circle
<br>W3Schools' Javascript section
<br>http://stackoverflow.com/questions/23115959/pass-arguments-using-the-httpresponseredirect-in-django
<br>http://stackoverflow.com/questions/6367014/how-to-send-email-via-django
<br>http://stackoverflow.com/questions/11071689/can-a-css-selector-reference-another-selectors-property
<br>http://stackoverflow.com/questions/18601403/django-filter-by-multiple-values
<br>http://stackoverflow.com/questions/1142378/django-why-do-some-model-fields-clash-with-each-other
<br>http://stackoverflow.com/questions/23770190/how-to-use-unique-together-method-in-django-views
<br>http://stackoverflow.com/questions/22255759/django-forms-dynamic-choices-for-choicefield
<br>http://stackoverflow.com/questions/9678642/accessing-form-fields-as-properties-in-a-django-view
<br>http://stackoverflow.com/questions/17509846/python-super-arguments-why-not-superobj
<br>http://stackoverflow.com/questions/657607/setting-the-selected-value-on-a-django-forms-choicefield
<br>http://stackoverflow.com/questions/9439725/javascript-how-to-detect-if-browser-window-is-scrolled-to-bottom
<br>http://stackoverflow.com/questions/4653911/jquery-detecting-if-the-bottom-of-the-div-is-touching-the-bottom-of-the-browse
<br>http://stackoverflow.com/questions/4668619/django-database-query-how-to-filter-objects-by-date-range
<br>http://stackoverflow.com/questions/1223354/undo-git-pull-how-to-bring-repos-to-old-state
<br>http://stackoverflow.com/questions/3390396/how-to-check-for-undefined-in-javascript
<br>http://en.wikipedia.org/wiki/MIT_License
<br>http://stackoverflow.com/questions/19225968/bootstrap-tab-is-not-working-when-tab-with-data-target-instead-of-href
<br>http://stackoverflow.com/questions/22667368/how-to-use-bootstrap-tabs
<br>http://answers.squarespace.com/questions/59955/can-i-decrease-the-amount-of-padding-around-a-horizontal-rule
<br>http://stackoverflow.com/questions/8986260/how-to-align-center-the-text-in-html-table-row
<br>http://jsfiddle.net/hashem/crspu/555/
<br>Google search of "start tag span seen in table"
<br>http://stackoverflow.com/questions/29012355/javascript-scrollby-function-executed-on-a-div
<br>http://stackoverflow.com/questions/4364881/inserting-string-at-position-x-of-another-string
<br>http://agiliq.com/blog/2013/03/serving-static-files-in-django/
<br>http://stackoverflow.com/questions/1395807/proper-way-to-handle-multiple-forms-on-one-page-in-django
<br>http://stackoverflow.com/questions/866272/how-can-i-build-multiple-submit-buttons-django-form
<br>http://stackoverflow.com/questions/3314989/can-i-make-a-button-not-submit-a-form
<br>http://stackoverflow.com/questions/36139/how-do-i-sort-a-list-of-strings-in-python
<br>http://stackoverflow.com/questions/6456718/inserting-into-python-dictionary
<br>http://www.w3.org/MarkUp/html-spec/html-spec_13.html
<br>http://stackoverflow.com/questions/18211286/how-do-i-disable-djangos-autoescape-from-a-view
<br>http://stackoverflow.com/questions/7431138/where-is-the-sqlite-database-file-created-by-django
<br>The Runnerunner community
<br>http://stackoverflow.com/questions/21009885/how-to-make-css-transition-effect-apply-to-all-its-children
<br>https://robots.thoughtbot.com/css-animation-for-beginners
<br>http://stackoverflow.com/questions/23429557/jquery-blur-animation
<br>http://stackoverflow.com/questions/9832754/i-cant-remove-the-margin-between-two-input-fields
<br>http://stackoverflow.com/questions/7886038/div-not-showing-full-height
<br>http://stackoverflow.com/questions/14761119/how-to-stop-divs-from-wrapping
<br>http://stackoverflow.com/questions/10211203/scrolling-child-div-scrolls-the-window-how-do-i-stop-that#answer-10211411
<br>http://stackoverflow.com/questions/439630/how-do-you-create-a-javascript-date-object-with-a-set-timezone-without-using-a-s
<br>http://stackoverflow.com/questions/16894683/how-to-print-html-content-on-click-of-a-button-but-not-the-page
<br>http://agiliq.com/blog/2008/10/generating-pdfs-with-django/
<br>http://stackoverflow.com/questions/3614212/jquery-get-html-of-a-whole-element
<br>http://stackoverflow.com/questions/5415600/how-to-open-url-in-new-tab-from-django
<br>http://stackoverflow.com/questions/9444745/javascript-how-to-get-tomorrows-date-in-format-dd-mm-yy
<br>https://www.digitalocean.com/community/tutorials/how-to-secure-postgresql-on-an-ubuntu-vps
<br>http://security.stackexchange.com/questions/27805/is-djangos-built-in-security-enough
<br>https://github.com/django/django/blob/master/django/contrib/auth/forms.py
<br>http://www.sitepoint.com/how-to-code-html-email-newsletters/
<br>http://stackoverflow.com/questions/15790136/django-serving-a-download-file
<br>http://stackoverflow.com/questions/17777429/django-static-files-are-not-updated
<br>http://stackoverflow.com/questions/6234773/can-i-escape-html-special-chars-in-javascript
<br>http://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div
<br>http://stackoverflow.com/questions/9322025/setting-background-color-pattern-of-inkscape-workspace-to-distinguish-transparen
<br>http://stackoverflow.com/questions/6195478/max-image-size-on-file-upload
<br>https://en.wikipedia.org/wiki/Needleman%E2%80%93Wunsch_algorithm
<br>http://www.cs.utoronto.ca/~brudno/bcb410/lec2notes.pdf
<br>Rendering HttpResponse subclasses: http://stackoverflow.com/questions/1812470/django-custom-handler404-shows-404-but-gives-header-200
<br>Blocking invalid host headers: http://stackoverflow.com/questions/18220519/how-to-disable-djangos-invalid-http-host-error
<br>Ignoring strings in Javascript regular expressions from http://stackoverflow.com/questions/6449131/javascript-regular-expression-to-not-match-a-word
<br>TinyMCE cursor saving and repositioning from http://stackoverflow.com/questions/1253303/whats-the-best-way-to-set-cursor-caret-position
<br>Removing HTML tags from strings using Javascript regular expressions http://stackoverflow.com/questions/822452/strip-html-from-text-javascript
<br>Ignoring HTML elements in TinyMCE idea http://stackoverflow.com/questions/22184625/tinymce-ctrl-v-paste-as-plain-text-must-remove-chosen-foreign-elements
</p>
</div>
<script>
	window.addEventListener("beforeunload", animateUnload);
	function animateUnload() {
		var aboutDiv = $("#aboutDiv");
		aboutDiv.removeClass("fadeInBottom");
		aboutDiv.addClass("fadeOutBottom");
	}
</script>
{% endblock %}
