{% for result in results %}
<div class="result">
	<a href="{% url 'rogging:show' username=result.username %}">
		<div>	
			<img src="{{ result.roggeelog.getThumbnail }}" class="resultThumb"/>
			<div>
				{% if result.roggeelog.name != None and result.roggeelog.name != "" %}
				<div>
					{{ result.roggeelog.name }}
				</div>
				{% endif %}
				<div>
					@{{ result.username }}
				</div>
			</div>
		</div>
	</a>
</div>
{% endfor %}