{% extends "rogging/starter.html" %}

{% block content %}
{% block error %}{% endblock %}
<style>
	#passwordPopup {
		background:rgba(0, 0, 0, 0.5);
		width:250px;
		position:fixed;
		margin:auto;
		padding:10px;
	}
	#passwordPopup > div {
		width:100%;
	}
	#passwordPopup > input {
		width:100%;
		border:0px;
		padding:10px 15px;
		text-align:center;
	}
	#confirmPasswordButton {
		background:#33cc33;
		color:#ffffff;
		margin:10px 0px 0px 0px;
		border-radius:0px;
		width:50%;
	}
	#removePopupButton {
		background:#e60000;
		color:#ffffff;
		margin:10px 0px 0px 0px;
		border-radius:0px;
		width:50%;
	}
	#changeEmailButton {
		margin:0px;
		background:#fff;
		border-radius:0px;
		border:0px;
		width:30px;
	}
	.propertyDiv {
		background-color:#303030;
		padding:10px;
		color:#a0a0a0;
	}
	.propertyDiv > * > input {
		color:#000;
	}
	.deleteButton {
		color:#000;
	}
	.sectionDiv {
		box-shadow:0px 0px 1px #000;
		margin-bottom:10px;
	}
	.sectionTitleDiv {
		color:#a0a0a0;
		background-color:#202020;
		padding:10px;
		height:50px;
		vertical-align:middle
	}
	.addPropertyDiv {
		background-color:#fff;
		float:right;
		color:#000;
		display:inline-block;
	}
	.addPropertyDiv > button {
		border-radius:0px;
		border:0px solid black;
		background-color:#fff;
	}
	.addPropertyDiv > input {
		border:0px solid black;
		padding:5px 0px 5px 10px;
		width:70px;
	}
	.sectionTitle {
		display:inline-block;
		padding:5px 0px 5px 0px;
		font-weight:bold;
	}
	#settings {
		position:relative;
		top:0px;
	}
	#accountSection {
		margin-top:40px;
		position:relative;
		top:0px;
	}
	/*#accountSection > .propertyDiv {
		color:#000;
	}*/
	#shoeSection {
		position:relative;
		left:0px;
	}
	#metricSection {
		position:relative;
		left:0px;
	}
	#accountSettingsForm > input[type="text"], #accountSettingsForm > input[type="email"]  {
		padding:10px;
		width:250px;
		border:0px solid black;
	}
	#accountSettingsForm > button {
		width:250px;
		height:50px;
		border:0px solid black;
		background-color:#555;
		font-size:24px;
		padding-top:10px;
		color:#000;
	}
	#changeEmailDiv {
		width:250px;
	}
	#changeEmailDiv > input {
		width:200px;
	}
	#privacySelect {
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		border:0px;
		background-color:#eeeeee;
		padding:10px;
		-webkit-border-radius:0px;
		border-radius:0px;
	}
	
</style>
<div id="settings">
	<form action="{% url 'rogging:settings' %}" method="post">
		<div class="sectionDiv fadeInLeft" id="shoeSection">
			<div class="sectionTitleDiv">
				<div class="sectionTitle">
					Shoes
				</div>
				<div class="addPropertyDiv">
					<input id="id_shoeName" name="shoeName" type="text" placeholder="Name"/>
					<button type="submit" name="addShoe"><span class="glyphicon glyphicon-plus"></span></button>
				</div>
			</div>
			<div id="shoeDiv" class="propertyDiv">
				{% for shoe in shoes %}
				<div>
					<label>{{ shoe.0.name }}</label> {{ shoe.1 }} miles
					<button value="{{ shoe.0.id }}" onclick="deleteShoe(this.value)" type="button" class="deleteButton">Delete</button>
				</div>
				{% endfor %}
			</div>
			{% csrf_token %}
		</div>
		<div class="sectionDiv fadeInLeft" id="metricSection">
			<div class="sectionTitleDiv">
				<div class="sectionTitle">
					Metrics
				</div>
				<div class="addPropertyDiv">
					<input id="id_metricName" name="metricName" type="text" placeholder="Name"/>
					<input id="id_metricDistance" name="metricDistance" type="text" placeholder="Distance"/>
					<button type="submit" name="addMetric"><span class="glyphicon glyphicon-plus"></span></button>
				</div>
			</div>
			<div id="metricsDiv" class="propertyDiv">
				{% for metric in metrics %}
				<div>
					<label>{{ metric.name }}</label> {{ metric.distance }} miles
					<button value="{{ metric.id }}" onclick="deleteMetric(this.value)" type="button" class="deleteButton">Delete</button>
				</div>
				{% endfor %}
			</div>
		</div>
	</form>
	
	<div class="sectionDiv fadeInBottom" id="accountSection">
		<div class="sectionTitleDiv">
			<div class="sectionTitle">
				Account
			</div>
		</div>
		<div class="propertyDiv">
			<form action="{% url 'rogging:settings' %}" method="post">
				<button type="button" onclick="showConfirmDeleteImported()" class="deleteButton">Delete imported data</button>
				<div id="confirmDeleteImported" hidden>Are you sure you want to delete your imported data?<input type="submit" name="deleteImported" value="Yes"/></div>
				{% csrf_token %}
			</form>
			<a href="{% url 'rogging:importer' %}">Import your Merv data</a>
			<br><a href="{% url 'rogging:export' %}">Export your data to an XML file</a>
			<br><a href="{% url 'rogging:changePassword' %}">Change password</a>
			<br>
			<br>
			<form id="accountSettingsForm">
				{% csrf_token %}
				<input type="text" id="id_name" name="name" placeholder="name ({% if user.roggeelog.name != "" %}{{ user.roggeelog.name }}{% else %}optional{% endif %})"/>
				<br><input type="email" id="id_email" name="email" placeholder="email ({{ user.email }})"/>
				<br><input type="checkbox" id="id_loadUserPageFirst" name="loadUserPageFirst" {% if user.roggeelog.loadUserPageFirst == True %}checked{% endif %}/> Show my user page when I log in
				<br>Privacy
				<br><select id="privacySelect">
					<option value="0" {% if user.roggeelog.private != True and user.roggeelog.pseudoPrivate != True %}selected{% endif %}>Let anyone see my log</option>
					<option value="1" {% if user.roggeelog.private != True and user.roggeelog.pseudoPrivate == True %}selected{% endif %}>Keep my log entries private to just those I approve</option>
					<option value="2" {% if user.roggeelog.private == True and user.roggeelog.pseudoPrivate != True %}selected{% endif %}>Keep my log unlisted on Rogger</option>
				</select>
				<br><input type="checkbox" id="id_searchName" name="searchName" {% if user.roggeelog.searchName == True %}checked{% endif %}/> Allow search by my name
				<br><input type="checkbox" id="id_searchUsername" name="searchUsername" {% if user.roggeelog.searchUsername == True %}checked{% endif %}/> Allow search by my username
				
				<br><button type="button" onclick="promptForPassword()"><span class="glyphicon glyphicon-floppy-disk"></span></button>
			</form>
		</div>
		</div>
	</div>
</div>
<div id="passwordPopup" hidden>
	<input type="password" id="passwordInput" placeholder="Confirm with password" />
	<button class="btn btn-lg" type="button" onclick="checkPasswordAndUpdateAccountSettings()" id="confirmPasswordButton"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button><button class="btn btn-lg" type="button" onclick="removePasswordPopup();" id="removePopupButton"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
</div>



<script>
function addMetric() {
	var metricNameField = $("#newMetricName");
	var metricDistanceField = $("#newMetricDistance");
	var name = metricNameField[0].value;
	var distance = metricDistanceField[0].value;
	
	
	if (name.length <= 200 && name.length > 0) {
		$.post("{% url 'rogging:settings' %}", { type: "newMetric", name: name, distance: distance, csfrmiddlewaretoken: '{{ csrf_token }}' }, function(data) {
			$("#metricDiv").html(data);
		});
	}
}

function deleteMetric(metric) {
	$.post("{% url 'rogging:settings' %}", { type: "deleteMetric", id: metric, csrfmiddlewaretoken: '{{ csrf_token }}' }, function(data) {
		var metricsDiv = $("#metricsDiv");
		metricsDiv.html(data);
	});
}

function deleteShoe(shoe) {
	$.post("{% url 'rogging:settings' %}", { type: "deleteShoe", id: shoe, csrfmiddlewaretoken: '{{ csrf_token }}' }, function(data) {
		var shoeDiv = $("#shoeDiv");
		shoeDiv.html(data);
	});
}

function showConfirmDeleteImported() {
	$("#confirmDeleteImported").show();
}
function promptForPassword() {
	$("#passwordPopup").show();
	$("#settings").css("filter", "blur(5px)")
					.css("-webkit-filter", "blur(5px)");
}
function checkPasswordAndUpdateAccountSettings() {
	console.log($("#id_searchName")[0].checked);
	$.post("{% url 'rogging:settings' %}",
			{
				type: "updateAccountSettings",
				email: $("#id_email")[0].value,
				password: $("#passwordInput")[0].value,
				name: $("#id_name")[0].value,
				privacy: $("#privacySelect")[0].value,
				searchName: $("#id_searchName")[0].checked,
				searchUsername: $("#id_searchUsername")[0].checked,
				loadUserPageFirst: $("#id_loadUserPageFirst")[0].checked,
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			function(data) {
				if (data == "passwordincorrect") {
					var passwordInput = $("#passwordInput");
					passwordInput.css("border", "3px solid red");
					passwordInput[0].value = "";
				} else if (data == "invalidnewemail") {
					$("#passwordPopup").hide();
					$("#passwordInput")[0].value = "";
					$("#id_email").css("border", "1px solid red");
					$("#settings").css("filter", "")
							.css("-webkit-filter", "");
				} else {
					$("#passwordPopup").hide();
					$("#passwordInput")[0].value = "";
					var newEmailAddress = $("#id_email");
					newEmailAddress[0].placeholder = "email (" + data['email'] + ")";
					newEmailAddress[0].value = "";
					var newName = $("#id_name");
					newName[0].placeholder = "name (" + data['name'] + ")";
					newName[0].value = "";
					$("#settings").css("filter", "")
							.css("-webkit-filter", "");
					$("#newEmailAddress").css("border", "");
				}
			}
	);
}
function removePasswordPopup() {
	$("#passwordPopup").hide();
	$("#settings").css("filter", "")
					.css("-webkit-filter", "");
	$("#passwordInput").css("border", "");
}
function adjustPasswordPopup() {
	var popup = $("#passwordPopup");
	popup.css("top", (($(window).height() - popup.height())/2) + "px")
				.css("left", (($(window).width() - popup.width())/2) + "px");
}
adjustPasswordPopup();
window.addEventListener("resize", adjustPasswordPopup);
window.addEventListener("beforeunload", animateUnload);
function animateUnload() {
	var accountSection = $("#accountSection");
	accountSection.removeClass("fadeInBottom");
	accountSection.addClass("fadeOutBottom");
	var shoeSection = $("#shoeSection");
	shoeSection.removeClass("fadeInLeft");
	shoeSection.addClass("fadeOutLeft");
	var metricSection = $("#metricSection");
	metricSection.removeClass("fadeInLeft");
	metricSection.addClass("fadeOutLeft");
}
</script>

{% endblock %}

