		{% for shoe in shoes %}
		<div>
			<label>{{ shoe.0.name }}</label> {{ shoe.1 }} miles
			<button value="{{ shoe.0.id }}" onclick="deleteShoe(this.value)" type="button">Delete</button>
		</div>
		{% endfor %}
