
{% extends "rogging/starter.html" %}

{% block content %}
{% load formattingfilters %}
<style>
	.miles {
		text-align:right
	}
	#userIconDiv {
		color:#ffffff;
		position:relative;
		top:0px;
		left:0px;
		height:175px;
		width:200px;
		/*height:100px;
		width:100px;
		text-align:center;
		padding-top:10px;*/
	}
	/* #picture and #editpictureicondiv overlap technique from http://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div */
	#picture {
		height:140px;
		width:140px;
		position:absolute;
		top:0px;
		left:0px;
		margin:30px 30px 10px 30px;
		border-radius:70px;
		box-shadow:0px 0px 3px #000;
	}
	#usernameDiv {
		text-align:center;
		font-size:22px;
		color:#ffffff;
		padding-bottom:10px;
	}
	#userInfoDiv {
		background-color:#202020;
		display:inline-block;
		width:200px;
		vertical-align:top;
	}
	#totalDistanceAndButtonDiv {
		font-size:0px;
		overflow-x:hidden;
		width:200px;
		white-space:nowrap;
	}
	#totalDistanceDiv {
		background-color:#ffffff;
		text-align:center;
		display:inline-block;
		font-size:14px;
		height:50px;
		width:200px;
		text-align:center;
		vertical-align:top;
		padding:15px 10px 15px 10px;
	}
	#totalDistanceDiv > div {
		vertical-align:middle;
	}
	#followbutton {
		border-radius:0px;
		color:#ffffff;
		/*float:right;*/
		width:50px;
		height:50px;
		display:inline-block;
	}
	.green {
		background-color:#33cc33;
		border:0px;
	}
	.green:hover {
		background-color:#22bb22;
	}
	.green:active {
		background-color:#11aa11;
	}
	.red {
		background-color:#e60000;
		border:0px;
	}
	.red:hover {
		background-color:#d60000;
	}
	.blue {
		background-color:#0088e6;
	}
	.blue:hover {
		background-color:#0088d6;
	}
	#bannerDiv {
		background-color:#b0b0b0;
		display:inline-block;
		height:100%;
		overflow:hidden;
		position:absolute;
		left:200px;
	}
	#userHeaderDiv {
		font-size:0px;
		box-shadow:0px 0px 1px #888;
		position:relative;
		left:0px;
	}
	.showTab {
		width:50%;
	}
	.showTab > a {
		color:#000000;
	}
	.paneOption {
		width:50%;
		/* display:inline-block idea from http://stackoverflow.com/questions/7886038/div-not-showing-full-height */
		display:inline-block;
		text-align:center;
		padding:5px;
		background-color:#000000;
		color:#ffffff;
		font-size:24px;
	}
	.activeOption {
		background-color:#ffffff;
		color:#000000;
	}
	#userContent {
		margin-top:20px;
		box-shadow:0px 0px 1px #888;
		position:relative;
		top:0px;
		text-align:center;
		font-size:60px;
		background-color:#fff;
		padding-top:25px;
	}
	#banner {
		width:780px;
		position:relative;
		top:0px;
		left:0px;
	}
	{% if user.is_authenticated %}
	#userOptionsDiv {
		width:200px;
		display:inline-block;
		position:relative;
		background-color:#888;
	}
	#useroptionstoggle {
		margin-right:50px;
	}
	.userOptionsButton {
		border:0px;
		border-radius:0px;
		color:#ffffff;
		width:50px;
		height:50px;
		display:inline-block;
		background-color:rgba(0, 0, 0, 0.0);
	}
	.userOptionsButton:focus {
		outline: none;
	}
	.redText {
		color:#c00;
	}
	.redText:hover {
		color:#a00;
	}
	
	
	/* ANIMATIONS */
	@keyframes optionsOpenAnimation {
		from {
			left:0px;
		}
		to {
			left:-150px;
		}
	}
	@keyframes optionsClosedAnimation {
		from {
			left:-150px;
		}
		to {
			left:0px;
		}
	}
	.optionsOpen {
		animation-name:optionsOpenAnimation;
		animation-duration:0.2s;
		left:-150px;
	}
	.optionsClosed {
		animation-name:optionsClosedAnimation;
		animation-duration:0.2s;
	}
	/* END OF ANIMATIONS */
	{% endif %}
</style>

{% block profpicerror %}
{% endblock %}
<div id="userHeaderDiv" class="fadeInLeft">
	<div id="userInfoDiv">
		<div id="userIconDiv">
			<img src="{% if signedProfPicUrl == "" %}{{ STATIC_URL }}boat.png{% else %}{{ signedProfPicUrl }}{% endif %}" id="picture" />
		</div>
		<div id="usernameDiv">
			{% if user.roggeelog.name != None and user.roggeelog.name != "" %}{{ useroflog.roggeelog.name }}<br>{% endif %}
			@{{ useroflog.username }}
		</div>
		<div id="totalDistanceAndButtonDiv">
			<div id="totalDistanceDiv">
				<div>
					{{ totalDistance|formatdistance }} miles
				</div>
			</div>
			{% if user.is_authenticated %}
			<div id="userOptionsDiv">
				<button class="btn userOptionsButton" id="useroptionstoggle" onclick="toggleOptions()" title="Options">
					<span class="glyphicon glyphicon-option-horizontal"></span>
				</button>
				{% if not follows %}
				<button class="btn userOptionsButton" id="followunfollowbutton" onclick="followUnfollow(this)" title="Follow user">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
				{% else %}
				<button class="btn userOptionsButton" id="followunfollowbutton" onclick="followUnfollow(this)" title="Unfollow user">
					<span class="glyphicon glyphicon-hourglass"></span>
				</button>
				{% endif %}
				<button class="btn userOptionsButton {% if blocked %}redText{% endif %}" id="blockbutton" title="{% if blocked %}Unblock this user{% else %}Block this user{% endif %}" onclick="blockUser(this)">
					<span class="glyphicon glyphicon-ban-circle"></span>
				</button>
			</div>
			{% endif %}
		</div>
	</div>
	<div id="bannerDiv">
		{% if signedBannerPicUrl != "" %}
		<img id="banner" src="{{ signedBannerPicUrl }}"/>
		{% endif %}
	</div>
</div>

<div id="userContent" class="fadeInBottom">
	<span class="glyphicon glyphicon-lock"></span>
</div>




<script>
	{% if user.is_authenticated %}
	function follow(button) {
		$.post("{% url 'rogging:show' username=useroflog.username %}", { type:"follow", csrfmiddlewaretoken:'{{ csrf_token }}' }, function(data) {
			window.location.href = "{% url 'rogging:show' username=useroflog.username %}";
		});
	};
	
	function followUnfollow(button) {
		$.post("{% url 'rogging:show' username=useroflog.username %}", { type:"follow", csrfmiddlewaretoken:'{{ csrf_token }}' }, function(data) {
			button = document.getElementById("followunfollowbutton");
			var buttonWrapped = $(button);
			if (buttonWrapped.children("span").first().hasClass("glyphicon-plus")) {
				button.innerHTML = "<span class=\"glyphicon glyphicon-remove\"></span>";
				buttonWrapped.blur();
				button.title = "Unfollow user";
			} else {
				button.innerHTML = "<span class=\"glyphicon glyphicon-plus\"></span>";
				buttonWrapped.blur();
				button.title = "Follow user";
			};
		});
	};
	
	function toggleOptions() {
		var userOptionsDiv = $("#userOptionsDiv")
		if (userOptionsDiv.hasClass("optionsOpen")) {
			var buttonSpan = userOptionsDiv.children("button").first().children("span").first();
			buttonSpan.removeClass("glyphicon-chevron-right");
			buttonSpan.addClass("glyphicon-option-horizontal");
			buttonSpan.parent().blur();
			userOptionsDiv.removeClass("optionsOpen");
			userOptionsDiv.addClass("optionsClosed");
		} else {
			var buttonSpan = userOptionsDiv.children("button").first().children("span").first();
			buttonSpan.removeClass("glyphicon-option-horizontal");
			buttonSpan.addClass("glyphicon-chevron-right");
			buttonSpan.parent().blur();
			userOptionsDiv.removeClass("optionsClosed");
			userOptionsDiv.addClass("optionsOpen");
		}
	}
	
	function blockUser(button) {
		$.ajax({
				type: "POST",
				url: "{% url 'rogging:show' username=useroflog.username %}",
				data: {
						type: "block",
						userID: {{ useroflog.id }},
						csrfmiddlewaretoken: "{{ csrf_token }}",
					},
				success: function(data) {
						console.log(data.blocked);
						if (data.blocked == true) {
							var blockButton = $("#blockbutton")
							blockButton.addClass("redText");
							blockButton[0].title = "Unblock this user";
							blockButton.blur();
							
						} else if (data.blocked == false) {
							var blockButton = $("#blockbutton")
							blockButton.removeClass("redText");
							blockButton[0].title = "Block this user";
							blockButton.blur();
						}
					},
				error: function(data) {
					}
				});
				 
	}
	{% endif %}
	
	function adjustUserInfoDiv() {
		if ($(window).width() < 768) {
			$("#userHeaderDiv").css("margin", "auto");
			$("#userHeaderDiv").css("width", $("#userInfoDiv").width() + "px");
		} else {
			$("#userHeaderDiv").css("margin", "");
			$("#userHeaderDiv").css("width", "");
		}
	}
	
	function adjustBannerDiv () {
		if ($(window).width() < 768) {
			$("#bannerDiv").css("width", "0px");
			$("#bannerDiv").hide();
		} else {
			var bannerDiv = $("#bannerDiv");
			var userInfoDiv = $("#userInfoDiv");
			bannerDiv.css("width", ($("#userHeaderDiv").width() - userInfoDiv.width()) + "px");
			bannerDiv.css("height", userInfoDiv.height() + "px");
			bannerDiv.show();
		}
	}
	
	
	
	function adjustBanner() {
		var bannerDiv = $("#bannerDiv");
		var banner = $("#banner");
		var bannerEdit = $("#bannerEditDiv");
		var bannerDivHeight = bannerDiv.height();
		var bannerDivWidth = bannerDiv.width();
		var bannerHeight = 500;//banner.height();
		var bannerWidth = 780;//banner.width();
		var bannerEditHeight = 400;//bannerEdit.height();
		
		var topOffset = Math.ceil((bannerHeight - bannerDivHeight) / -2) + "px";
		var leftOffset = Math.ceil((bannerWidth - bannerDivWidth) / -2) + "px";
		
		var topEditOffset = Math.ceil((bannerEditHeight - bannerDivHeight) / -2) + "px";
		var leftEditOffset = Math.ceil((780 - bannerDivWidth) / -2) + "px";
		
		banner.css("top", topOffset).css("left", leftOffset);
		bannerEdit.css("top", topEditOffset).css("left", leftEditOffset);
	}
	
	
	
	$(document).ready(function() {
		{% if user.is_authenticated %}
		$("#totalDistanceDiv").css("width", (($("#totalDistanceAndButtonDiv").width() - $("#followunfollowbutton").width()) - 24) + "px");
		{% endif %}
		
		window.addEventListener("resize", adjustUserInfoDiv);
		adjustUserInfoDiv();
		
		window.addEventListener("resize", adjustBannerDiv);
		adjustBannerDiv();
		
		
		window.addEventListener("beforeunload", animateUnload);
		function animateUnload() {
			var userHeaderDiv = $("#userHeaderDiv");
			userHeaderDiv.removeClass("fadeInLeft");
			userHeaderDiv.addClass("fadeOutLeft");
			var userContent = $("#userContent");
			userContent.removeClass("fadeInBottom");
			userContent.addClass("fadeOutBottom");
		}
		window.addEventListener("resize", adjustBanner);
		adjustBanner();
		
	});

</script>

{% endblock %}