<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
		<link rel="shortcut icon" href="{{ STATIC_URL }}r.png" type="image/x-icon" />
		<title>Rogger</title>
	</head>
	<style>
		@font-face {
			font-family:"Latin Modern Roman";
			src:url('{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/web%20fonts/latinmodernroman_10regular_macroman/lmroman10-regular-webfont.eot');
			src:url('{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/web%20fonts/latinmodernroman_10regular_macroman/lmroman10-regular-webfont.eot?#iefix') format('eot'),
				url('{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/web%20fonts/latinmodernroman_10regular_macroman/lmroman10-regular-webfont.woff') format('woff'),
				url('{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/web%20fonts/latinmodernroman_10regular_macroman/lmroman10-regular-webfont.ttf') format('truetype'),
				url('{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/web%20fonts/latinmodernroman_10regular_macroman/lmroman10-regular-webfont.svg#Latin%20Modern%20Roman') format('svg');
		}
		@font-face {
			font-family:"Latin Modern Roman";
			src:url('{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/web%20fonts/latinmodernroman_10bold_macroman/lmroman10-bold-webfont.eot');
			src:url('{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/web%20fonts/latinmodernroman_10bold_macroman/lmroman10-bold-webfont.eot?#iefix') format('eot'),
				url('{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/web%20fonts/latinmodernroman_10bold_macroman/lmroman10-bold-webfont.woff') format('woff'),
				url('{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/web%20fonts/latinmodernroman_10bold_macroman/lmroman10-bold-webfont.ttf') format('truetype'),
				url('{{ STATIC_URL }}Latin-Modern-Roman-fontfacekit/web%20fonts/latinmodernroman_10bold_macroman/lmroman10-bold-webfont.svg#Latin%20Modern%20Roman') format('svg');
			font-weight:bold;
		}
		@font-face {
			font-family:;
			font-weight:bold;
			src:url("{{ STATIC_URL }}web%20fonts/latinmodernroman_10bold_macroman/")
		}
		@keyframes dropdownAnimation {
			from { top:-100%; }
			to {}
		}
		@keyframes dropdownUpAnimation {
			from {}
			to { top:-100% }
		}
		* {
			font-family: sans-serif;/*"Tahoma", sans-serif;*/
			font-weight:lighter;
		}
		/* PRINTING MAGIC DERIVED FROM http://stackoverflow.com/questions/16894683/how-to-print-html-content-on-click-of-a-button-but-not-the-page */
		.normalBody {
			background-color:#e6e6e6;/*#eafbff;*/
			padding:10px;
			max-width:1000px;
			margin:auto;
		}
		#navbar {
			height:60px;
		}
		.navbar-brand {
			font-family:"Brush Script MT", "Brush Script", sans-serif;
			font-size:30px;
			/*margin-top:3px;*/
		}
		@media all and (min-width:768px) {
			.navbar-brand {
				margin-top:3px;
			}
		}
		@media all and (max-width:768px) {
			.navbar-brand {
				padding: 15px 5px 15px 13px;
			}
		}
		#rBrand {
			width:30px;
			height:30px;
		}
		.navlinks {
			font-size:15px;
		}
		#hamburgerUL {
			margin-top:5px;
		}
		#content {
			margin-top:1000px;
			display:block;
		}
		#navbarDropdown {
			background-color:rgba(127, 127, 127, 0.9);
			color:#000000;
			width:100%;
			position:fixed;
			top:0px;
			left:0px;
		}
		#navbarDropdown a {
			color:#000000;
			padding-top:5px;
			padding-left:15px;
			padding-bottom:5px;
			text-decoration:none;
		}
		#navbarDropdown a:hover {
			color:#ffffff;
		}
		.dropdownElement {
			display:block;
		}
		#followedDiv {
			width:20%;
			float:left;
		}
		textarea {
			resize:none;
		}
		#serverDowntimeNotification, #accountSetupDiv {
			background:rgba(0, 0, 0, 0.8);
			color:#ffffff;
			width:250px;
			height:auto;
			position:fixed;
			top:50%;
			left:50%;
			margin:auto;
			padding:10px;
			text-align:center;
		}
		{% if user.is_authenticated and user.roggeelog.showSetup %}
		#accountSetupDiv > div {
			background-color:#000;
			color:#fff;
			margin-top:10px;
			padding:5px;
		}
		#accountSetupDiv > button {
			border-radius:0px;
			width:100px;
			height:50px;
			border:0px solid black;
			background-color:#3c3;
			font-size:32px;
			padding:9px;
		}
		{% if user.roggeelog.name == None %}
		#id_name {
			width:100%;
			color:#000;
			border:0px solid black;
			text-align:center;
			padding:5px;
			margin-bottom:10px;
		}
		{% endif %}
		{% endif %}
		#serverDowntimeNotification > button {
			border-radius:0px;
			background-color:#eeeeee;
			color:#000000;
		}
		#navThumb {
			height:30px;
			width:30px;
			border-radius:15px;
		}
		.text {
			margin-top:5px;
		}
		#searchBar {
			border:0px solid black;
			margin-left:15px;
			height:30px;
			background-color:#303030;
			color:#ccc;
		}
		@media all and (max-width:768px) {
			#searchBar {
				max-width:170px;
			}
		}
		@media all and (min-width:768px) {
			#searchBar {
				width:250px;
			}
		}
		#searchBar:focus {
			outline:none;
		}
		#searchDiv {
			background-color:#303030;
			margin:15px 15px 15px 70px;
			border-radius:15px;
			overflow:hidden;
			box-shadow:0px 0px 2px black;
		}
		@media all and (max-width:768px) {
			#searchDiv {
				margin:15px 0px 5px 5px;
			}
		}
		@media all and (min-width:768px) {
			#searchDiv {
				margin:15px 15px 15px 70px;
			}
		}
		#searchDiv > span {
			color:#000;
			margin-right:15px;
		}
		#searchResults {
			color:#fff;
			max-height:250px;
			overflow-y:scroll;
		}
		.result {
			padding:5px;
			width:100%;
		}
		.result > a > div > div {
			color:#ddd;
			display:inline-block;
			width:50%;
		}
		.result > a > div > div:hover {
			text-decoration:none;
			color:#fff;
		}
		.resultThumb {
			height:30px;
			width:30px;
			border-radius:15px;
			margin-right:10px;
			display:inline-block;
		}
		.result > a > div > img {
			vertical-align:baseline;
		}
		.focusBlur {
			filter:blur(5px);
			-moz-filter:blur(5px);
			-webkit-filter:blur(5px);
		}
		.fadeInBottom {
			animation-name:fadeInBottom;
			animation-duration:0.5s;
		}
		.fadeOutBottom {
			animation-name:fadeOutBottom;
			animation-duration:0.2s;
			opacity:0.0;
		}
		.fadeInLeft {
			animation-name:fadeInLeft;
			animation-duration:0.5s;
		}
		.fadeOutLeft {
			animation-name:fadeOutLeft;
			animation-duration:0.2s;
			opacity:0.0;
		}
		@keyframes fadeInLeft {
			from {
				opacity:0.0;
				left:-100px;
			}
			to {
				opacity:1.0;
				left:0px;
			}
		}
	
		@keyframes fadeInBottom {
			from {
				opacity:0.0;
				top:100px;
			}
			to {
				opacity:1.0;
				top:0px;
			}
		}
		@keyframes fadeOutLeft {
			from {
				opacity:1.0;
				left:0px;
			}
			to {
				opacity:0.0;
				left:-100px;
			}
		}
	
		@keyframes fadeOutBottom {
			from {
				opacity:1.0;
				top:0px;
			}
			to {
				opacity:0.0;
				top:100px;
			}
		}
	</style>
	<script src="{{ STATIC_URL }}jquery-1.11.3.min.js"/></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"/></script>

	<body id="thebody" class="normalBody">
		<!-- PRINTING MAGIC DERIVED FROM http://stackoverflow.com/questions/16894683/how-to-print-html-content-on-click-of-a-button-but-not-the-page -->
		<div id="nonprinting">
			<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand hidden-xs" href="{% url 'rogging:homepage' %}">rogger</a>
						<a class="navbar-brand visible-xs" href="{% url 'rogging:homepage' %}"><img id="rBrand" src="{{ STATIC_URL }}/r.png"/></a>
					</div>
					<div>
						<ul class="nav navbar-nav">
							{% if user.is_authenticated %}
							<li class="hidden-xs navelements thumb" id="me"><a class="navlinks" href="{% url 'rogging:show' username=user.username %}"><img src="{{ user.roggeelog.getThumbnail }}" id="navThumb"/></a></li>
							<li class="hidden-xs navelements text"><a class="navlinks" href="{% url 'rogging:roggerLogger' %}"><span class="glyphicon glyphicon-pencil"></span></a></li>
							<li class="hidden-xs navelements text"><a class="navlinks" href="{% url 'rogging:settings' %}"><span class="glyphicon glyphicon-cog"></span></a></li>
							<li class="hidden-xs navelements text"><a class="navlinks" href="{% url 'rogging:logoutSuccess' %}"><span class="glyphicon glyphicon-off"></span></a></li> 
							{% endif %}
							<li class="hidden-xs navelements text"><a class="navlinks" href="{% url 'rogging:resources' %}"><span class="glyphicon glyphicon-info-sign"></span></a></li>
							{% if user.is_authenticated %}
							<li class="navelements" id="search">
								<div id="searchDiv" onmouseover="mouseOverSearchResults()" onmouseout="mouseOutSearchResults()">
									<input type="text" id="searchBar" placeholder="search" oninput="performSearch()" onfocus="performSearch()" onblur="hideSearch()"/>
									<span class="glyphicon glyphicon-search"></span>
									<div id="searchResults" hidden>
									</div>
								</div>
							</li>
							{% endif %}
						</ul>
						<ul class="nav navbar-nav navbar-right" id="hamburgerUL">
							<li class="visible-xs navelements" id="hamburger"><a class="navlinks"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a></li>
						</ul>
						
					</div>
				</div>
			</nav>
			<div id="content" class="{% if user.roggeelog.showSetup %}focusBlur{% endif %}">
				{% block content %}{% endblock %}
			</div>
			<div id="navbarDropdown" hidden>
				{% if user.is_authenticated %}
				<a class="dropdownElement" href="{% url 'rogging:show' username=user.username %}">Me</a>
				<a class="dropdownElement" href="{% url 'rogging:roggerLogger' %}">Make an Entry</a>
				<a class="dropdownElement" href="{% url 'rogging:settings' %}">Settings</a>
				<a class="dropdownElement" href="{% url 'rogging:logoutSuccess' %}">Log Out</a> 
				{% endif %}
				<a class="dropdownElement" href="{% url 'rogging:resources' %}">About</a>
			</div>
		</div>
		<!-- PRINTING MAGIC DERIVED FROM http://stackoverflow.com/questions/16894683/how-to-print-html-content-on-click-of-a-button-but-not-the-page -->
		<div id="printingDiv" hidden>
		</div>
		
		{% if user.is_authenticated and user.roggeelog.showSetup %}
		<div id="accountSetupDiv">
			<h4>Setup</h4>
			{% if user.roggeelog.name == None %}
			<input id="id_name" name="name" placeholder="name (optional)"/>
			{% endif %}
			{% if user.roggeelog.searchUsername == None %}
				Enabling these next two features (highly recommended) will allow users to find you via the search bar at the top of the page, but it may also make it easier for search engines to find your page and return it in their search results.
			<div>
				<div>
					<input id="id_searchUsername" name="searchUsername" type="checkbox"/> Allow search by my username
					<br><input id="id_searchName" name="searchName" type="checkbox"/> Allow search by my name
				</div>
			</div>
			{% endif %}
			<br><button onclick="sendSetup()"><span class="glyphicon glyphicon-floppy-disk"></span></button>
		</div>
		{% endif %}
		
		<div id="serverDowntimeNotification" hidden>
			The server will be going down in about <span id="downtimeCountdown">15</span> <span id="minutes">minutes</span> for maintenance, but should be back up soon after. Save your work now! And go to bed for the sake of the flying spaghetti monster!
			<br>
			<button class="btn btn-lg" onclick="hideServerDowntimeNotification();">Ok!</button>
		</div>
	</body>
	
	<script>
		var shutdownWarningHour = 3;
		var shutdownWarningMinute = 45;
		var now = new Date();
		var shutdownWarningTime = new Date();
		var shutdownTime = new Date();
		shutdownWarningTime.setHours(shutdownWarningHour);
		shutdownWarningTime.setMinutes(shutdownWarningMinute);
		shutdownWarningTime.setSeconds(0);
		shutdownWarningTime.setMilliseconds(0);
		shutdownTime.setHours(shutdownWarningHour);
		shutdownTime.setSeconds(0);
		shutdownTime.setMilliseconds(0);
		// PROPER CALCULATION OF RESULTING TIME IDEA FROM http://stackoverflow.com/questions/9444745/javascript-how-to-get-tomorrows-date-in-format-dd-mm-yy
		shutdownTime.setMinutes(shutdownWarningMinute + 15);
		
		if (now.getFullYear() >= shutdownTime.getFullYear() && now.getMonth() >= shutdownTime.getMonth() && now.getDate() >= shutdownTime.getDate() && now.getHours() >= shutdownTime.getHours() && now.getMinutes() >= shutdownTime.getMinutes()) {
			// GETTING TOMMOROW IDEA FROM http://stackoverflow.com/questions/9444745/javascript-how-to-get-tomorrows-date-in-format-dd-mm-yy
			shutdownWarningTime.setDate(shutdownWarningTime.getDate() + 1);
			shutdownTime.setDate(shutdownTime.getDate() + 1);
		}
		timeToWait = shutdownWarningTime.getTime() - now.getTime();
		
		var showDowntimeNotificationTimeout = window.setTimeout(showServerDowntimeNotification, timeToWait);
		var refreshDowntimeTimerTimeout = "notintializedrogger";
		
		function accomodateNavbarSize() {
			var navbarHeight = $("#navbar").height();
			$("#content").css('margin-top', (navbarHeight) + "px");
			if ($(window).width() < 768) {
			} else {
			}
		}
		
		
		accomodateNavbarSize();
		$(window).resize(accomodateNavbarSize);
		var navbarDropdown = $("#navbarDropdown");
		navbarDropdown.children("a").first().css("padding-top", "15px");
		navbarDropdown.children("a").last().css("padding-bottom", "15px");
		navbarDropdown.css("top", $("#navbar").height() - navbarDropdown.height());
		$("#navbarDropdown").show();
		var navbarDropdownAnimationDuration = 200;
		var navbarDropdownAnimationDurationCSS = (navbarDropdownAnimationDuration/1000) + "s";
		
		function collapseDropdown() {
			var navbarDropdown = $("#navbarDropdown");
			var hamburgerUL = $("#hamburgerUL");
			navbarDropdown.animate({ top: "-=" + navbarDropdown.height() + "px" }, { duration: navbarDropdownAnimationDuration });
			hamburgerUL.html("<li class=\"visible-xs navelements\" id=\"hamburger\"><a class=\"navlinks\"><span class=\"glyphicon glyphicon-menu-hamburger\" aria-hidden=\"true\"></span></a></li>");
			$("#hamburger")[0].onclick = dropdown;
			// BLURRING IDEA FROM http://stackoverflow.com/questions/23429557/jquery-blur-animation
			$("#content").css("filter", "")
							.css("-webkit-filter", "")
							.css("transition", "filter " + navbarDropdownAnimationDurationCSS)
							.css("-webkit-transition", "-webkit-filter " + navbarDropdownAnimationDurationCSS);
		}
		
		function dropdown() {
			var navbarDropdown = $("#navbarDropdown");
			var hamburgerUL = $("#hamburgerUL");
			navbarDropdown.animate({ top: $("#navbar").height() + "px" }, { duration: navbarDropdownAnimationDuration });
			hamburgerUL.html("<li class=\"visible-xs navelements\" id=\"dropdownUp\"><a class=\"navlinks\"><span class=\"glyphicon glyphicon-menu-up\" aria-hidden=\"true\"></span></a></li>");
			$("#dropdownUp")[0].onclick = collapseDropdown;
			// BLURRING IDEA FROM http://stackoverflow.com/questions/23429557/jquery-blur-animation
			$("#content").css("filter", "blur(5px)")
							.css("-webkit-filter", "blur(5px)")
							.css("transition", "filter " + navbarDropdownAnimationDurationCSS)
							.css("-webkit-transition", "-webkit-filter " + navbarDropdownAnimationDurationCSS);
		};
		
		$("#hamburger")[0].onclick = dropdown;
		function adjustBody() {
			if ($(window).width() < 768) {
				$("#thebody").css("padding", "0px 0px 20px 0px");
			} else {
				$("#thebody").css("padding", "10px");
			}
		};
		window.addEventListener("resize", adjustBody);
		adjustBody();
		
		function adjustServerDownNotification() {
			var notification = $("#serverDowntimeNotification");
			notification.css("top", (($(window).height() - notification.height())/2) + "px").css("left", (($(window).width() - notification.width())/2) + "px");
		}
		window.addEventListener("resize", adjustServerDownNotification);
		adjustServerDownNotification();
		
		function adjustSetupPopup() {
			var setup = $("#accountSetupDiv");
			setup.css("top", (($(window).height() - setup.height())/2) + "px").css("left", (($(window).width() - setup.width())/2) + "px");
		}
		window.addEventListener("resize", adjustSetupPopup);
		adjustSetupPopup();
		
		function changeCountdown() {
			var now = new Date();
			var approxMinutesLeft = Math.round((shutdownTime.getTime() - now.getTime())/(1000 * 60));
			$("#downtimeCountdown").html(approxMinutesLeft);
			if (approxMinutesLeft == 1) {
				$("#minutes").html("minute");
			} else {
				$("#minutes").html("minutes");
			}
			if (shutdownTime.getTime() - now.getTime() >= 0) {
				refreshDowntimeTimerTimeout = window.setTimeout(changeCountdown, (shutdownTime.getTime() - now.getTime()) % 60000);
			}
		}
		function showServerDowntimeNotification() {
			$("#serverDowntimeNotification").show();
			$("#content").css("filter", "blur(5px)").css("-webkit-filter", "blur(5px)");
			changeCountdown();
		}
		
		function hideServerDowntimeNotification() {
			$("#serverDowntimeNotification").hide();
			$("#content").css("filter", "").css("-webkit-filter", "");
		}
		
		function removeTimeouts() {
			window.clearTimeout(showDowntimeNotificationTimeout);
			if (refreshDowntimeTimerTimeout != "notintializedrogger") {
				window.clearTimeout(refreshDowntimeTimerTimeout);
			}
		}
		
		function performSearch() {
			var searchBar = $("#searchBar");
			if (searchBar[0].value != "") {
				$.post("{% url 'rogging:search' %}", { type:"searchBar", query:$("#searchBar")[0].value, csrfmiddlewaretoken:"{{ csrf_token }}" }, function(data) {
					$("#searchResults").html(data);
					showSearch();
				});
			} else {
				forceHideSearch();
			}
		}
		
		function hideSearch() {
			if (!disableHideResults) {
				$("#searchResults").hide();
				borderRadius();
			}
		}
		function forceHideSearch() {
			$("#searchResults").hide();
			borderRadius();
		}
		function showSearch() {
			$("#searchResults").show();
			noBorderRadius();
		}
		function noBorderRadius() {
			$("#searchDiv").css("border-bottom-left-radius", "0px")
							.css("border-bottom-right-radius", "0px")
		}
		function borderRadius() {
			$("#searchDiv").css("border-bottom-left-radius", "15px")
							.css("border-bottom-right-radius", "15px")
		}
		function mouseOverSearchResults() {
			disableHideResults = true;
		}
		function mouseOutSearchResults() {
			disableHideResults = false;
		}
		
		var disableHideResults = false;
		window.addEventListener("unload", removeTimeouts);
		$("#searchBar")[0].value = ""
		
		{% if user.is_authenticated and not user.roggeelog.promptedForSetup %}
		function sendSetup() {
			$.post("{% url 'rogging:accountSetup' %}",
					{
						type:"initialAccountSetup",
						name: $("#id_name")[0].value,
						searchUsername: $("#id_searchUsername")[0].checked,
						searchName: $("#id_searchName")[0].checked,
						csrfmiddlewaretoken: "{{ csrf_token }}"
					},
					function(data) {
						if (data != "ajaxerror") {
							$("#accountSetupDiv").hide();
							$("#content").removeClass("focusBlur");
						}
					}
			);
		}
		{% endif %}
	</script>
</html>
