{% load formattingfilters %}
<style>
{% include "rogging/updatecss.html" %}
</style>

{% for logEntry in logEntries %}
<div class="entryContainer">
	<span hidden>{{ logEntry.id }}</span>
	<div class="userTitleDiv">
		<a class="userLink" href="{% url 'rogging:show' username=logEntry.relatedLog.user.username %}"><div class="userDiv"><img src="{{ logEntry.relatedLog.getThumbnail }}" class="profthumb"/> {{ logEntry.relatedLog.user.username }}</div></a>
		<a href="{% url 'rogging:accessRun' run=logEntry.id %}" class="workoutLink"><div class="titleDiv">{{ logEntry.displayTitle }}</div></a>
	</div>
	<span class="typeAndDate">
		{{ logEntry.date }}
	</span>
	<span class="distance">
		{{ logEntry.distanceInDesiredUnits|formatdistance }} miles
	</span>
	{% if logEntry.getNumberOfComments != 0 %}
	<span class="commentCount">
		<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{ logEntry.getNumberOfComments }}
	</span>
	{% endif %}
	{% if logEntry.entry != "" %}
	<div class="previewBackground">
		<img class="previewWellHeaderImage" src="{{ STATIC_URL }}curlyquote.png"></img>
		<p class="entryPreview">{{ logEntry.entry|truncateandpreserve:150 }}</p>
	</div>
	{% endif %}
</div>
{% endfor %}