<!-- body tag insertion and inline style suggestion from http://www.sitepoint.com/how-to-code-html-email-newsletters/ -->
<html>
	<body>
		<div>
			<div id="title" style="font-family:'Brush Script MT', sans-serif; font-size:30px; background:#202020; color:#fff; text-align:center; padding-bottom:7px;">
				rogger
			</div>
			<div id="content" style="font-family:sans-serif; font-weight:lighter; background-color:#fff;">
				<div id="greeting" style="padding-top:10px; text-align:center;">Hi!</div>
				<div class="paddingDiv" style="padding:10px;"> 
					<div class="paddingTopDiv" style="padding-top:10px;">
						The username{{ s }} {{ usersString }} on Rogger are associated with your email account ({{ email }}). Contact ben@rogger.co if you notice any problems regarding this issue.
					</div>
					<div class="paddingTopDiv" style="padding-top:10px;">
						Thanks!
						<br>- Rogger team
					</div>
				</div>
			</div>
		</div>
	</body>
</html>