{% load formattingfilters %}
<div class="week">
	<div class="weeklyTotalDiv">
		<div class="weekOf" hidden>
			Week of <span class="firstDayOfWeek">{{ week.0.0.0.date.isoformat }}</span>
		</div>
		{% if user.is_authenticated and  user.username == useroflog.username %}
		<button class="btn" onclick="showPrintDialog(this)"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
		{% endif %}
		<ul class="weeklyTotal">
			{% for key, value in week.1.iteritems %}
				{% if value > 0 %}
				<li class="weeklyTotalTotal">{{ key }}: {{ value|formatdistance }} {{ units }}</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	{% for day in week.0 %}
	{% if day.0.month == 2 or day.0.month == 4 or day.0.month == 6 or day.0.month == 8 or day.0.month == 10 or day.0.month == 12 %}
	<div class="day td-green">
	{% else %}
	<div class="day td-blue">
	{% endif %}
		<button onclick="makeLogEntryWithDate(this)" class="dateButton">
			<span class="mobileDayTitle" hidden>
				{% if day.0.weekday == 0 %}
				Mon
				{% endif %}
				{% if day.0.weekday == 1 %}
				Tue
				{% endif %}
				{% if day.0.weekday == 2 %}
				Wed
				{% endif %}
				{% if day.0.weekday == 3 %}
				Thu
				{% endif %}
				{% if day.0.weekday == 4 %}
				Fri
				{% endif %}
				{% if day.0.weekday == 5 %}
				Sat
				{% endif %}
				{% if day.0.weekday == 6 %}
				Sun
				{% endif %}
			</span>
			<span class="isodate">{{ day.0.date.isoformat }}</span>
		</button>
		{% for run in day.1 %}
		<a href="{% url 'rogging:accessRun' run=run.id %}" onmouseover="showWorkoutPreview(this)" onmouseout="hideWorkoutPreview()"><span hidden>{{ run.id }}</span>{{ run.displayTitle }}</a>
		{% endfor %}
	</div>
				
	{% endfor %}
</div>