{% for week in weeks %}
<div class="week">
	<div class="weeklyTotalDiv">
		<ul class="weeklyTotal">
			<li class="weeklyTotalTitle">Week Total</li>
			{% if week.1.Run > 0 %}
			<li class="weeklyTotalTotal">Run: {{ week.1.Run }} {{ units }}</li>
			{% endif %}
			{% if week.1.Bike > 0 %}
			<li class="weeklyTotalTotal">Bike: {{ week.1.Bike }} {{ units }}</li>
			{% endif %}
			{% if week.1.Swim > 0 %}
			<li class="weeklyTotalTotal">Swim: {{ week.1.Swim }} {{ units }}</li>
			{% endif %}
			{% if week.1.Weights > 0 %}
			<li class="weeklyTotalTotal">Weights: {{ week.1.Weights }} {{ units }}</li>
			{% endif %}
			{% if week.1.Rower > 0 %}
			<li class="weeklyTotalTotal">Rower: {{ week.1.Rower }} {{ units }}</li>
			{% endif %}
			{% if week.1.Stepper > 0 %}
			<li class="weeklyTotalTotal">Stepper: {{ week.1.Stepper }} {{ units }}</li>
			{% endif %}
			{% if week.1.Skate > 0 %}
			<li class="weeklyTotalTotal">Skate: {{ week.1.Skate }} {{ units }}</li>
			{% endif %}
			{% if week.1.Walk > 0 %}
			<li class="weeklyTotalTotal">Walk: {{ week.1.Walk }} {{ units }}</li>
			{% endif %}
			{% if week.1.Ski > 0 %}
			<li class="weeklyTotalTotal">Ski: {{ week.1.Ski }} {{ units }}</li>
			{% endif %}
			{% if week.1.CrossTrain > 0 %}
			<li class="weeklyTotalTotal">Cross Train: {{ week.1.CrossTrain }} {{ units }}</li>
			{% endif %}
		</ul>
	</div>
	{% for day in week.0 %}
	{% if day.0.month == 2 or day.0.month == 4 or day.0.month == 6 or day.0.month == 8 or day.0.month == 10 or day.0.month == 12 %}
	<div class="day td-green">
	{% else %}
	<div class="day td-blue">
	{% endif %}
		<button onclick="makeLogEntryWithDate(this)" class="dateButton">{{ day.0.isoformat }}</button>
		{% for run in day.1 %}
			<hr>
			<a href="/runs/{{ run.id }}">{{ run.displayTitle }}</a>
		{% endfor %}
	</div>
				
	{% endfor %}
	
</div>
{% endfor %}