<div id="workoutInfo">
	<strong>
		{% if workout.mervSubtype != None %}{{ workout.mervSubtype }} {% endif %}{% if workout.kind != None %}{{ workout.kind }}, {% endif %}{{ workout.distanceInDesiredUnits }} miles
	</strong>
</div>
<div id="workoutEntry">{{ workout.entry }}</div>